@use 'drawing' as *;
.window,
// .dialog,
.menu {
  background: var(--InactiveBorder);
  border: 1px solid var(--border);
  position: relative;
  padding: 2px;
}

.window.maximized {
  border: none;
  padding: 0;
}

.window.active,
.window:focus-within {
  background-color: var(--ActiveBorder);
}

// .dialog {
//   background: var(--InactiveTitle);
// }

// .dialog.active,
// .dialog:focus-within {
//   background-color: var(--ActiveTitle);
// }

.title-bar {
  background: var(--InactiveTitle);
  color: var(--InactiveTitleText);
  display: flex;
  flex-direction: row;
  font-weight: bold;
  border-bottom: 1px solid var(--border);

  > * {
    height: var(--CaptionHeight);
  }
}

// .dialog > .title-bar {
//   border: 1px solid var(--Window);
//   border-bottom-color: var(--border)
// }

.title-bar-text {
  text-align: center;
  font-weight: bold;
  // padding: 2px 4px;
  // padding-block: 2px;
  padding-inline: 4px;
  flex-grow: 1;
  cursor: default;
  line-height: var(--CaptionHeight);
}

.title-bar-buttons {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  // align-items: stretch;

  [data-close]{
    display: none;
  }
}

.title-bar-buttons button {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  border: 0;
  border-left: 1px solid var(--border);
  border-radius: 0;
  background-color: var(--ButttonFace);
  background-repeat: no-repeat;
  background-position: 4px 4px;

  &:not(:active){
    box-shadow: inset -1px -1px 0 var(--button-dark), inset 1px 1px 0 var(--button-light), 
    inset -2px -2px 0 var(--button-dark), inset 1px 1px 0 var(--button-light);

  }
}

.title-bar-buttons button::after {
  display: none;
}

.title-bar-buttons:first-child button { 
  border: 0;
  border-right: 1px solid var(--border);
}

.title-bar-buttons button:active {
  outline: none;
  box-shadow: inset 1px 1px 0 var(--button-dark);
  background-position: 8px 10px;
}

.title-bar-buttons button[data-close] {
  background-image: url(close.svg);
}

.title-bar-buttons button[data-minimize] {
  background-image: url(minimize.svg);
}

.title-bar-buttons button[data-maximize] {
  background-image: url(maximize.svg);
}

.maximized .title-bar-buttons button[data-maximize] {
  background-image: url(restore.svg);
}

.title-bar-buttons.sys {
  border-right: 1px solid var(--border);
  button {
    border: none;
    box-shadow: none;
    background: 
      linear-gradient(var(--button-light), var(--button-light)) 4px 9px / 10px 1px no-repeat,
      linear-gradient(var(--border), var(--border)) 3px 8px / 12px 3px no-repeat,
      linear-gradient(var(--button-dark), var(--button-dark)) 4px 9px / 12px 3px no-repeat,

      var(--ButttonFace)
      ;
  }

  img {display: none;} //win 31 doesn't support icon
}

// .dialog-body,
.window-body {
  background: var(--Window);
  color: var(--WindowText);
  // border: 1px solid var(--border);
  border-top: 0;
}

// .dialog-body {
//   border-color: var(--Window);
// }
.window {
  padding: 0;
  border: calc(var(--borderWidth) + 1px) solid transparent;
  background-clip: content-box;
  --edge: calc(-1 * var(--borderWidth) - 1px);
  --full: calc(100% + var(--borderWidth) + var(--borderWidth) + 1px);
  

  --frameColor: var(--InactiveBorder);
  --innerFrameColor: var(--border);
  background:

    /* =========================
     OUTERBOX
    ========================= */

  hline(var(--border),
    top var(--edge) left var(--edge),
    var(--full)
  ),

  vline(var(--border),
    top var(--edge) left var(--edge),
    var(--full)
  ),

  hline(var(--border),
    bottom var(--edge) left var(--edge),
    var(--full)
  ),

  vline(var(--border),
    top var(--edge) right var(--edge),
    var(--full)
  ),
  // hline(var(--innerFrameColor0, gold),
  //   top var(--edge) left var(--edge),
  //   calc(100% + 2px)
  // ),
  // hline(var(--innerFrameColor0, red),
  //   top -1px left -1px,
  //   calc(100% + 2px)
  // ),
  /* =========================
     INNER BOX
  ========================= */

  hline(var(--innerFrameColor),
    top -1px left -1px,
    calc(100% + 1px)
  ),

  vline(var(--innerFrameColor),
    top -1px left -1px,
    calc(100% + 1px)
  ),

  hline(var(--innerFrameColor),
    bottom -1px left -1px,
    calc(100% + 2px)
  ),

  vline(var(--innerFrameColor),
    top -1px right -1px,
    calc(100% + 2px)
  ),

  var(--frameColor)
  ;


  
  &.dialog{
    --frameColor: var(--InactiveTitle);
    --innerFrameColor: var(--Window);    

    
  }
}

.window.tool-window{
  --BorderWidth: 0px;
}
.window.tool-window.alt_caption {
  flex-direction: row;
  .title-bar{
    // writing-mode: vertical-lr;
    // transform: rotate(180deg);
    // height: auto;
    // width: var(--SmCaptionHeight);
    // height: 16px;
    border: none;
    border-right: 1px solid var(--border);
    flex-direction: column-reverse;

    &-text {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      padding: 4px 2px;
    }

    // button[data-close] {
    //   transform: rotate(90deg);
    // }
  }
  .title-bar-buttons{
    order: 1;
    border: none;
    border-bottom: 1px solid var(--border);
    height: auto;

    &:not(.sys) { display: none;}
  }
}

.window.active ,
.window:focus-within {
  --frameColor: var(--ActiveTitle);

  &.dialog{
    background-color: var(--ActiveTitle);

  }
  
  > .title-bar
  // .dialog.active > .title-bar,
  // .dialog:focus-within > .title-bar,
  {
    background-color: var(--ActiveTitle);
    color: var(--TitleText);

  }
}
.menu > .title-bar,
.title-bar.active {
  background-color: var(--ActiveTitle);
  color: var(--TitleText);
}

.window-body > * + *,
.dialog-body > * + * {
  border: 0;
  border-top: 1px solid var(--border);
}

