@use 'drawing' as *;

.desktop {
  background: var(--desktop-bg);
}

.status-bar {
  display: flex;
  width: 100%;
  gap: 2px;
  font-size: var(--StatusFont-Height);
  background: var(--button-bg);
  > * {
    padding: 2px 4px;
    flex-grow: 1;
    flex-shrink: 1;
    box-shadow: inset -1px -1px var(--ButtonHilight), inset 1px 1px var(--ButtonShadow);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.raised {
  background: var(--window-bg);
  border: 1px solid var(--border);
}

.lowered {
  // background: var(--window-bg);
  // border: 1px solid var(--border);
  background: frame(var(--border)), var(--input-bg);
  // box-shadow: inset 1px 1px var(--border), inset -2px -2px var(--border);
}

.raised > .lowered {
  border: 0;
}

.raised.stack-row > .lowered + .lowered {
  border-left: 1px solid var(--border);
}

.raised.stack-column > .lowered + .lowered {
  border-top: 1px solid var(--border);
}

.top-panel {
  background: var(--window-bg);
  border-bottom: 1px solid var(--border);
}

.right-panel {
  background: var(--window-bg);
  border-left: 1px solid var(--border);
}

.bottom-panel {
  background: var(--window-bg);
  border-top: 1px solid var(--border);
}

.left-panel {
  background: var(--window-bg);
  border-right: 1px solid var(--border);
}

fieldset {
  border: 1px solid var(--border);
  position: relative;
}

legend {
  text-align: left;
  padding: 0 2px;
  display: block;
}

hr {
  border-top: 1px solid var(--border);
}

