:root {
  --preferred-font: 'Microsoft Sans Serif';

  --Background: #C0C0C0;

  --AppWorkspace: #FFFFFF;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --ButttonFace: #C0C0C0;
  --button-fg: #000000;
  --button-dark: #808080;
  --button-light: #FFFFFF;
  --input-bg: var(--Window);
  --input-fg: var(--WindowText);

  --border: #000000;
  --disabled: #808080;

  --InactiveBorder: #C0C0C0;
  --ActiveBorder: var(--InactiveBorder);

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #FFFFFF;
  --InactiveTitleText: #000000;

  --ActiveTitle: #0000C0;
  --TitleText: #FFFFFF;

  --Hilight: #0000C0;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFF3F;

  --borderWidth: 3px;

  --scrollbar-bg: #C0C0C0;
}

body {
  background-color: var(--Window);
  color: var(--WindowText);
  font-family: system-ui;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button::-moz-focus-inner {
  border: none;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

a:focus {
  outline: 1px dotted var(--border);
}

code {
  font-family: monospace;
}

