.desktop {
  background: var(--Background);
}
.status-bar {
  display: flex;
  width: 100%;
  gap: 2px;
  font-size: var(--StatusFont-Height);
  > * {
    padding: 2px 4px;
    flex-grow: 1;
    flex-shrink: 1;
    box-shadow: inset -1px -1px var(--ButtonHilight), inset 1px 1px var(--ButtonShadow);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  // border-top: 1px solid var(--ButtonShadow);
  // border-bottom: 1px solid var(--ButtonHilight);
  // background: var(--ButtonFace);
  // color: var(--ButtonText);
  // font-size: smaller;
}
.raised {
  background: var(--ButtonFace);
  border: 1px solid var(--ButtonHilight);
  border-bottom-color: var(--ButtonShadow);
  border-right-color: var(--ButtonShadow);
}
.lowered {
  background: var(--ButtonFace);
  border: 1px solid var(--ButtonShadow);
  border-bottom-color: var(--ButtonHilight);
  border-right-color: var(--ButtonHilight);
}

// inspired by 98.css
.inset {
  box-shadow: 
    inset -1px -1px var(--ButtonHilight), 
    inset 1px 1px var(--ButtonShadow), 

    inset -2px -2px var(--ButtonFace), 
    inset 2px 2px var(--ButtonDkShadow)
    // ,0 0 13px 11px silver
    ;
}
.outset {
  box-shadow: 
    inset 1px 1px var(--ButtonFace), 
    inset 2px 2px var(--ButtonHilight), 

    
    inset -1px -1px var(--ButtonDkShadow),
    inset -2px -2px var(--ButtonShadow)
    // ,0 0 13px -1px silver
    ;
}

.top-panel {
  background: var(--ButtonFace);
  border-bottom: 1px solid var(--ButtonDkShadow);
  box-shadow: inset 0 -1px 0 var(--ButtonShadow);
}

.right-panel {
  background: var(--ButtonFace);
  border-left: 1px solid var(--ButtonLight);
  box-shadow: inset 1px 0 0 var(--ButtonHilight);
}

.bottom-panel {
  background: var(--ButtonFace);
  border-top: 1px solid var(--ButtonLight);
  box-shadow: inset 0 1px 0 var(--ButtonHilight);
}

.left-panel {
  background: var(--ButtonFace);
  border-right: 1px solid var(--ButtonDkShadow);
  box-shadow: inset -1px 0 0 var(--ButtonShadow);
}

fieldset {
  border: 1px solid var(--ButtonShadow);
  border-bottom-color: var(--ButtonHilight);
  border-right-color: var(--ButtonHilight);
  box-shadow: inset 1px 1px 0 var(--ButtonHilight), inset -1px -1px 0 var(--ButtonShadow);
  position: relative;
}

legend {
  text-align: left;
  padding: 0 4px;
  background-color: var(--ButtonFace);
  display: block;
}

hr {
  border-top: 1px solid var(--ButtonShadow);
  border-bottom: 1px solid var(--ButtonHilight);
}

