.window,
.dialog,
.menu {
  background: var(--ButtonFace);
  border: 1px solid var(--ButtonLight);
  border-bottom: 1px solid var(--ButtonDkShadow);
  border-right: 1px solid var(--ButtonDkShadow);
  box-shadow: inset 1px 1px 0 var(--ButtonHilight), inset -1px -1px 0 var(--ButtonShadow);
  position: relative;
  padding: 3px;
}

.window.maximized,
.dialog.maximized {
  border: none;
  padding: 0;
}

.title-bar {
  --titlebar-gradient-direction: to right;
  min-height: var(--CaptionHeight);
  // min-width: var(--CaptionHeight);
  background: linear-gradient(var(--titlebar-gradient-direction), var(--InactiveTitle), var(--GradientInactiveTitle));
  color: var(--InactiveTitleText);
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: center;
  
  .alt_caption > & {
    --titlebar-gradient-direction: to top;
    // --titlebar-gradient-direction: to bottom;
    // background: linear-gradient(to top, var(--InactiveTitle), var(--GradientInactiveTitle));
  }
}

.title-bar-text {
  font-family: var(--CaptionFont-Name), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--CaptionFont-Height);
  font-family: sserife;
  text-align: left;
  font-weight: var(--CaptionFont-Weight);
  // height: var(--CaptionHeight);
  // padding: 1px 4px;
  padding-block: 0;
  padding-inline: 4px;
  vertical-align: middle;
  line-height: var(--CaptionHeight);
  height: var(--CaptionHeight);
  // line-height: var(--CaptionFont-Height);
  // height: auto;
  


  flex-grow: 1;
  cursor: default;
  // background: yellow;
}

.title-bar-buttons {
  flex-shrink: 0;
  font-size: var(--CaptionFont-Height);
  display: flex;
  flex-direction: row;
  padding: 2px;
  align-items: center;
  font-family: 'titlebar-ui';
  --btn-height: calc(var(--CaptionFont-Height) - 1px);
  // --btn-height: var(--CaptionFont-Height) ;

  &.sys {
    padding: 0;
    // &:empty{}
    > img { margin-left: 2px; }
    > button { display: none;}
  }
  
  button {
    flex-shrink: 0;
    // width: 20px;
    // height: 18px;
    width: calc(var(--CaptionHeight) - 2px);
    height: calc(var(--CaptionHeight) - 4px);
    box-sizing: border-box;
    min-width: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    font-weight: normal;
    // font-size: 14px;
    outline: none;
    
    &:not(:disabled):active {
      outline: none;
      background-position: 4px 4px;
      box-shadow: inset -1px -1px 0 var(--ButtonLight), inset 1px 1px 0 var(--ButtonShadow);
      border: 1px solid var(--ButtonHilight);
      border-top: 1px solid var(--ButtonDkShadow);
      border-left: 1px solid var(--ButtonDkShadow);
      // padding: 0;
    }
    
    &:not(:active):focus {
      border: 1px solid var(--ButtonDkShadow);
      border-top: 1px solid var(--ButtonHilight);
      border-left: 1px solid var(--ButtonHilight);
      box-shadow: inset -1px -1px 0 var(--ButtonShadow);
    }

    &[data-close],&[data-minimize],&[data-maximize] {
    //   display: flex;
    //   // text-align: center;
    //   justify-content: center;
    //   align-items: center;
    // vertical-align: middle;
    // background-color: fuchsia;
    

      &:after{
        // background: red;
        display: inline-block;
        // height: 1ch;
        // margin-top: -1px;
        display: block;
        margin: 0 auto;
        
        font-size: var(--btn-height);
        // font-size: var(--CaptionHeight);
        line-height: var(--btn-height);
        // text-align: left;
        // font-weight: var(--CaptionFont-Weight);
        height: var(--btn-height);
        // background-color: yellow;
      }
      // &:not(:disabled):active::after{
      //   margin-top: 2px;
      //   margin-left: 1px;
      // }
      
    }
    &[data-close] {
      // background-image: url(close.svg);
      // margin-left: 2px;

      &::after{
        content: "\274C";
        content: "\2715";
        content: "\1f7aa";
        content: "\1F5D9";
      }
    }
    & + [data-close] {
      margin-left: 2px;
    }
    
    &[data-minimize]::after {
      // background-image: url(minimize.svg);
      content: "\1F5D5";
      // vertical-align: bottom;
      // height: 1ch;
      // font-size: smaller;
      // content: '';
      // background-color:red;
      // mask-image: url(maximize.svg);
      // height: var(--CaptionFont-Height);
      // width:  var(--CaptionFont-Height);;
    }
    
    &[data-maximize]::after {
      content: "\1F5D6";
      // font-size: smaller;
      // background-image: url(maximize.svg);
    }
    
    .maximized &[data-maximize]::after {
      // background-image: url(restore.svg);
      content: "\1F5D7";
    }
    }
}

.window.tool-window{
  --CaptionHeight: var(--SmCaptionHeight);
  --CaptionFont-Height: var(--SmCaptionFont-Height);
  // .title-bar{
    // height: var(--SmCaptionHeight);
  // }
  // .title-bar-text{
  //   font-size: var(--SmCaptionFont-Height);
  //   // font-size: 12px;
  //   // line-height: 1;
  //   line-height: var(--SmCaptionHeight);
  // }
  .title-bar-buttons button{
    --btn-height: calc(var(--SmCaptionFont-Height) - 2px);
    // width: 11px;
    // height: 11px;
    width: calc(var(--SmCaptionHeight) - 2px);
    height: calc(var(--SmCaptionHeight) - 4px);
    background-size: 7px 7px;
    background-position: 1px 1px;

    &::after {
      font-size: x-small;
    }
  }
}
.window.tool-window.alt_caption {
  flex-direction: row;
  .title-bar{
    // writing-mode: vertical-lr;
    // transform: rotate(180deg);
    // height: auto;
    // width: var(--SmCaptionHeight);
    flex-direction: column-reverse;

    &-text {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }

    // button[data-close] {
    //   transform: rotate(90deg);
    // }
    // .sys > button { display: none;}
  }
}

.window-body,
.dialog-body {
  background: var(--ButtonFace);
  // color: var(--ButtonText);
  color: var(--WindowText);
  // margin-top: 4px;
}

.window.active > .title-bar,
.dialog.active > .title-bar,
.window:focus-within > .title-bar,
.dialog:focus-within > .title-bar,
.title-bar.active {
  background: linear-gradient(var(--titlebar-gradient-direction), var(--ActiveTitle), var(--GradientActiveTitle));
  color: var(--TitleText);
}

.window-body > [role=menubar],
.dialog-body > [role=menubar] {
  // margin-top: -3px;
  margin-bottom: 1px;
}
