/* $buttons: 'button,\
  input[type=button],\
  input[type=submit],\
  input[type=reset],\
  .button';

$textInputs: 'input:not([type=button], [type=submit], [type=reset], [type=checkbox], [type=radio], [type=range]), textarea, .input';

$singleSelects: 'select:not([size], [multiple]), select[size="1"]';

$multiSelects: 'select[multiple], select[size]:not([size="1"])';
 */

@function hline($color, $pos, $width, $height: 1px) {
  @return linear-gradient(/* to right, */ #{$color}, #{$color})
    #{$pos} /
    #{$width} #{$height}
    no-repeat;
}

@function vline($color, $pos, $height,  $width: 1px ) {
  @return linear-gradient(to bottom, #{$color}, #{$color})
    #{$pos} /
    #{$width} #{$height}
    no-repeat;
}
@function arrow-down($x, $y, $size: 4px, $color: currentColor) {
  @return
    /* LEFT */
    linear-gradient(
      45deg,
      transparent 50%,
      #{$color} 50%
    )
    #{$x} #{$y} /
    #{$size} #{$size}
    no-repeat,

    /* RIGHT */
    linear-gradient(
      -45deg,
      transparent 50%,
      #{$color} 50%
    )
    calc(#{$x} + #{$size} - 1px) #{$y} /
    #{$size} #{$size}
    no-repeat;
}


@function arrow-up($x, $y, $size: 4px, $color: currentColor) {
  @return

  /* LEFT HALF */
  linear-gradient(
    135deg,
    transparent 50%,
    #{$color} 50%
  )
  #{$x} calc(#{$y} + #{$size}) /
  #{$size} #{$size}
  no-repeat,

  /* RIGHT HALF */
  linear-gradient(
    -135deg,
    transparent 50%,
    #{$color} 50%
  )
  calc(#{$x} + #{$size} - 1px) calc(#{$y} + #{$size}) /
  #{$size} #{$size}
  no-repeat;
}


@function arrow-left($x, $y, $size: 4px, $color: currentColor) {
  @return
    /* TOP */
    linear-gradient(
      135deg,
      transparent 50%,
      #{$color} 50%
    )
    #{$x} #{$y} /
    #{$size} #{$size}
    no-repeat,

    /* BOTTOM */
    linear-gradient(
      45deg,
      transparent 50%,
      #{$color} 50%
    )
    #{$x} calc(#{$y} + #{$size} - 1px) /
    #{$size} #{$size}
    no-repeat;
}


@function arrow-right($x, $y, $size: 4px, $color: currentColor) {
  @return
    /* TOP */
    linear-gradient(
      -135deg,
      transparent 50%,
      #{$color} 50%
    )
    #{$x} #{$y} /
    #{$size} #{$size}
    no-repeat,

    /* BOTTOM */
    linear-gradient(
      -45deg,
      transparent 50%,
      #{$color} 50%
    )
    #{$x} calc(#{$y} + #{$size} - 1px) /
    #{$size} #{$size}
    no-repeat;
}

@function inset-depth() {
  //? should be used together with: //* border: 2px solid transparent;
  @return 
  /* =========================
     OUTER BORDER
  ========================= */

  hline(var(--ButtonShadow),
    top -2px left -2px,
    calc(100% + 3px)
  ),
  vline(var(--ButtonShadow),
    top -2px left -2px,
    calc(100% + 3px)
  ),

  hline(var(--ButtonHilight),
    bottom -2px left -2px,
    calc(100% + 3px)
  ),
  vline(var(--ButtonHilight),
    top -2px right -2px,
    calc(100% + 4px)
  ),

  /* =========================
     INNER SHADOW
  ========================= */

  hline(var(--ButtonDkShadow),
    top -1px left -1px,
    calc(100% + 1px)
  ),

  vline(var(--ButtonDkShadow),
    top -1px left -1px,
    calc(100% + 1px)
  ),

  hline(var(--ButtonLight),
    bottom -1px left -1px,
    calc(100% + 2px)
  ),

  vline(var(--ButtonLight),
    top -1px right -1px,
    calc(100% + 2px)
  )
  ;
}

@function inner-button() {
  //? pseudo button inside <select> with down arrow
  @return
 /* =========================
     INNER TOP
  ========================= */

  hline(var(--ButtonHilight),
    top 1px right 2px,
    calc(var(--bw) - 4px)
  ),

  /* =========================
     INNER BOTTOM
  ========================= */
  hline(var(--ButtonShadow),
    bottom 1px right 1px,
    calc(var(--bw) - 2px)
  ),

  /* =========================
  OUTER BOTTOM
  ========================= */
  
  hline(var(--ButtonDkShadow),
    bottom right,
    var(--bw) 
  ),


  /* =========================
     OUTER RIGHT
  ========================= */

  vline(var(--ButtonShadow),
    top 2px right 1px,
    calc(100% - 2px)
  ),

  // /* =========================
  //    ARROW ▼ LEFT
  // ========================= */

  // linear-gradient(
  //   45deg,
  //   transparent 50%,
  //   currentColor 50%
  // )
  // right calc(var(--bw) / 2 ) center /
  // 3px 3px
  // no-repeat,


  // /* =========================
  //    ARROW ▼ RIGHT
  // ========================= */

  // linear-gradient(
  //   -45deg,
  //   transparent 50%,
  //   currentColor 50%
  // )
  // right calc(var(--bw) / 2 - 3px) center /
  // 3px 3px
  // no-repeat,

  arrow-down(calc(100% - calc(var(--bw) / 2)), center, 4px, var(--inner-btn-fg, currentColor)),


  /* =========================
     button ButtonShadow
  ========================= */

  vline(var(--ButtonDkShadow),
    top right ,
    100%
  ),

  /* =========================
     BUTTON LIGHT
  ========================= */

  vline(var(--ButtonHilight),
    top 1px right calc(var(--bw) - 2px),
    calc(100% - 3px)
  ),
  
  
  // =========================
  //    BUTTON FACE
  // =========================

  linear-gradient( var(--ButtonFace), var(--ButtonFace))
  top right /
  calc(var(--bw) ) 100% 
  no-repeat;
}

@function inner-outline() {
  //? should be used together with inner-button
  @return   /* =========================
     BORDER AROUND TEXT
  ========================= */

  hline(var(--Window),
    top left ,
    calc(100% - var(--bw) - 1px)
  ),

  hline(var(--Window),
    bottom left,
    calc(100% - var(--bw) - 1px)
  ),

  vline(var(--Window),
    top left,
    100%
  ),

  vline(var(--Window),
    top right var(--bw) ,
    100%
  );
}