@use '../../util/util' as *;

[role=menu],
[role=menubar] {
  color: var(--MenuText);
  background-color: var(--Menu);
  border: 1px solid var(--ButtonLight);
  border-right-color: var(--ButtonDkShadow);
  border-bottom-color: var(--ButtonDkShadow);
  box-shadow: inset 1px 1px 0 var(--ButtonHilight), inset -1px -1px 0 var(--ButtonShadow);
  font-size: var(--MenuFont-Height);
  font-weight: var(--MenuFont-Weight);
  font-family: var(--MenuFont-Name), 'Segoe UI', Tahoma, Geneval, inherit;
  padding: 2px;

  li {
    // The text is colorized by text-shadow,
    // for easy transform text position while clicking.
    // idea taken from xp.css
    color: transparent;
    text-shadow: 0 0 0 var(--MenuText);

    &:focus {
      outline: none;
    }

    &:hover {
      background: var(--Hilight);
      color: var(--HilightText);
    }

    &[aria-disabled=true] {
      color: var(--ButtonShadow)!important;
      text-shadow: 1px 1px 0 var(--ButtonHilight)!important;
      border-color: transparent;
    }
  }
}



[role=menubar],
.menu > [role=menu] {
  box-shadow: none;
  border: none;
  padding: 0;
}

[role=menubar] > li {
  border: 1px solid transparent;
  // padding: 1px 8px;
  padding-inline: 6px;
  border: 1px solid transparent;

  & > ul,
  & > .menu {
    left: 0;
    top: 100%;
    margin-left: -1px;
    margin-top: 1px;
    min-width: 200px;
  }

  &:hover {
    background: var(--ButtonFace);
    // color: var(--ButtonText);
    border: 1px solid var(--ButtonHilight);
    border-right-color: var(--ButtonShadow);
    border-bottom-color: var(--ButtonShadow);
  }

  &:focus-within {
    background: var(--ButtonFace);
    // color: var(--ButtonText);
    border: 1px solid var(--ButtonShadow);
    border-right-color: var(--ButtonHilight);
    border-bottom-color: var(--ButtonHilight);
    // padding: 2px 7px 0 9px;
    text-shadow: 1px 1px 0 var(--MenuText);
  }
}

[role=menu] {
  &:not(:hover) li:focus-within {
    background: var(--Hilight);
    color: var(--HilightText);
  }

  li {
    border: 1px solid transparent;
    padding: 1px 3px 1px 19px;

    &[data-shortcut]::after {
      float: right;
      content: attr(data-shortcut);
      display: block;
      margin-left: 4px;
    }

    & > ul,
    & > .menu {
      left: 100%;
      margin: 0;
      top: -4px;
      margin-left: -1px;
      min-width: 200px;
    }

    &[aria-disabled=true]:hover,
    &[aria-disabled=true]:focus {
      text-shadow: none;
    }


    &[role=separator] {
      border-top: 1px solid var(--ButtonShadow);
      border-bottom: 1px solid var(--ButtonHilight);
      height: 0;
      padding: 0;
    }

    &[role=checkbox][aria-checked=true]::before {
      content: '';
      position: absolute;
      left: 6px;
      top: 50%;
      margin-top: -3.5px;
      display: block;
      width: 7px;
      height: 7px;
      background: currentColor;
      -webkit-mask-image: url(checkmark.svg);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 7px 7px;
      mask-image: url(checkmark.svg);
      mask-repeat: no-repeat;
      mask-size: 7px 7px;
    }

    &[role=radio][aria-checked=true]::before {
      content: '';
      position: absolute;
      left: 7px;
      top: 50%;
      margin-top: -3px;
      display: block;
      background: currentColor;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    &[aria-haspopup=true] {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        width: 4px;
        // background: currentColor;
        // -webkit-mask-image: url(arrow-right.svg);
        // -webkit-mask-size: 4px 7px;
        // -webkit-mask-repeat: no-repeat;
        // -webkit-mask-position: center center;
        // mask-image: url(arrow-right.svg);
        // mask-size: 4px 7px;
        // mask-repeat: no-repeat;
        // mask-position: center center;
        background: arrow-right(0px, 8px);
      }
    }
  }
}

.menu,
[role=menu] li:focus-within > .menu,
[role=menubar] li:focus-within > .menu {
  display: flex;
}

.menu > [role=menu] {
  flex-grow: 1;
}

.menu > .title-bar {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  --titlebar-gradient-direction: to top;
}

.menu > .title-bar > .title-bar-text {
  padding: 4px 0;
}

