@import './fonts/sserife.css';
@import './fonts/titlebar-ui.css';
// $root: ':scope' !default;
$root: ':root' !default;
// :scope {
#{$root} {
  --preferred-font: 'Microsoft Sans Serif', sserife, 'Segoe UI', sans-serif;

  --Background: #008080;

  --ButtonFace: #C0C0C0;
  --ButtonText: #000000;

  --ButtonHilight: #FFFFFF;
  
  --light: #DFDFDF;
  --medium: var(--ButtonFace);
  --ButtonShadow: #808080;
  --ButtonDkShadow: #000000;
  
  --Menu: var(--ButtonFace);
  --MenuText: var(--ButtonText);
  // --ButtonText: var(--ButtonText);
  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: var(--ButtonShadow);
  --InactiveTitleText: var(--ButtonFace);
  --GradientInactiveTitle: var(--InactiveTitle);

  --ActiveTitle: #000080;
  --GradientActiveTitle: var(--ActiveTitle);

  --TitleText: #FFFFFF;

  --Hilight: #000080;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFF7F;
  --ox: 0px; // arrow offset,before click
  --oy: 0px;

  --variant-classes: {"": "Adjusted","variant-normal": "Normal", "variant-large": "Large", "variant-extra-large": "Extra Large"};

  --arrowSize: calc(var(--ScrollWidth) * 0.5 );
  --ScrollWidth: 16px;
  // --ArrowHalf: calc(var(--ScrollWidth) * 0.25 + 1px);

  
  --CaptionHeight: 20px;
  --CaptionFont-Height: 12px;
  --CaptionFont-Weight: 700;
  --CaptionFont-Italic: normal;
  --CaptionFont-Underline: 0; // underline | wavy underline | none
  --CaptionFont-StrikeOut: 0; // line-through | none
  // --CaptionFont-CharSet: 0;
  // --CaptionFont-OutPrecision: 0;
  // --CaptionFont-ClipPrecision: 0;
  // --CaptionFont-Quality: 0;
  // --CaptionFont-PitchAndFamily: 0;
  --CaptionFont-Name: var(--preferred-font, 'Arial');
  // -webkit-font-smoothing: none;
  // -moz-osx-font-smoothing: unset;
  // font-smoothing: unset;
  // font-smooth: never;
  --pixel-font-filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="f"><feComponentTransfer><feFuncA type="discrete" tableValues="0 0 0.5 0.9 1 1" /></feComponentTransfer></filter></svg>#f');
  // filter: var(--pixel-font-filter);

  --SmCaptionHeight: 16px;
  --SmCaptionFont-Height: 9px;
  --SmCaptionFont-Weight: var(--CaptionFont-Weight);
  --SmCaptionFont-Italic: var(--CaptionFont-Italic);
  --SmCaptionFont-Underline: var(--CaptionFont-Underline);
  --SmCaptionFont-StrikeOut: var(--CaptionFont-StrikeOut);
  --SmCaptionFont-Name: var(--CaptionFont-Name);

  --MenuHeight: 18px;
  --MenuFont-Height: 12px;
  --MenuFont-Weight: 400;
  --MenuFont-Italic: normal;
  --MenuFont-Underline: 0;
  --MenuFont-StrikeOut: 0;
  // --MenuFont-Name: 'Ms Sans Serif';
}

.variant-normal {
  --ScrollWidth: 16px;
  --arrowSize: calc(var(--ScrollWidth) * 0.5 );
  // --ArrowHalf: calc(var(--ScrollWidth) * 0.25 + 1px);

  --CaptionHeight: 18px;
  --CaptionFont-Height: 11px;
  --CaptionFont-Weight: 700;

  // --SmCaptionWidth: 21px,
  --SmCaptionHeight: 15px;
  --SmCaptionFont-Height: 8px;
}
.variant-large {
  --ScrollWidth: 18px;
  --arrowSize: calc(var(--ScrollWidth) * 0.5 );
  // --ArrowHalf: calc(var(--ScrollWidth) * 0.25 + 1px);

  --CaptionHeight: 22px;
  --CaptionFont-Height: 16px;
  --CaptionFont-Weight: 700;

  // --SmCaptionWidth: 21px,
  --SmCaptionHeight: 18px;
  --SmCaptionFont-Height: 13px;
}

.variant-extra-large {
  --ScrollWidth: 21px;
  --arrowSize: calc(var(--ScrollWidth) * 0.5 );
  // --ArrowHalf: calc(var(--ScrollWidth) * 0.25 + 1px);

  
  --CaptionHeight: 24px;
  --CaptionFont-Height: 19px;
  --CaptionFont-Weight: 700;
  // --CaptionFont-Italic: normal;
}

body {
  background-color: var(--ButtonFace);
  color: var(--ButtonText);
}

.title-bar-sys {
  display: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button::-moz-focus-inner {
  border: none;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
}

a:focus {
  outline: 1px dotted var(--ButtonDkShadow);
}

code {
  font-family: monospace;
}


