// $root: ':scope' !default;
$root: ':root' !default;
// :scope {
#{$root} {
  --preferred-font: 'Microsoft Sans Serif', 'Segoe UI', sans-serif;

  --Background: #008080;

  --ButtonFace: #C0C0C0;
  --ButtonText: #000000;

  --ButtonHilight: #FFFFFF;
  
  --light: #DFDFDF;
  --medium: var(--ButtonFace);
  --ButtonShadow: #808080;
  
  --ButtonDkShadow: #000000;

  // --ButtonText: var(--ButtonText);
  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: var(--ButtonShadow);
  --InactiveTitleText: var(--ButtonFace);
  --GradientInactiveTitle: var(--InactiveTitle);

  --ActiveTitle: #000080;
  --GradientActiveTitle: var(--ActiveTitle);

  --TitleText: #FFFFFF;

  --Hilight: #000080;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFF7F;

  --ScrollWidth: 26px;
  --ArrowSize: calc(var(--ScrollWidth) * 0.5 );
  // --ArrowHalf: calc(var(--ScrollWidth) * 0.25 + 1px);
  --ox: 0px;
  --oy: 0px;
}

body {
  background-color: var(--ButtonFace);
  color: var(--ButtonText);
}

.title-bar-sys {
  display: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button::-moz-focus-inner {
  border: none;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
}

a:focus {
  outline: 1px dotted var(--ButtonDkShadow);
}

code {
  font-family: monospace;
}


