// $root: ':scope' !default;
$root: ':root' !default;
// :scope {
#{$root} {
  --preferred-font: 'Microsoft Sans Serif', 'Segoe UI', sans-serif;

  --Background: #008080;

  --ButtonFace: #C0C0C0;
  --ButtonText: #000000;

  --ButtonHilight: #FFFFFF;
  
  --light: #DFDFDF;
  --medium: var(--ButtonFace);
  --ButtonShadow: #808080;
  
  --ButtonDkShadow: #000000;

  // --ButtonText: var(--ButtonText);
  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: var(--ButtonShadow);
  --InactiveTitleText: var(--ButtonFace);
  --GradientInactiveTitle: var(--InactiveTitle);

  --ActiveTitle: #000080;
  --GradientActiveTitle: var(--ActiveTitle);

  --TitleText: #FFFFFF;

  --Hilight: #000080;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFF7F;
  --ox: 0px; // arrow offset,before click
  --oy: 0px;

  --variant-classes: {"": "Normal", "variant-large": "Large", "variant-extra-large": "Extra Large"};

  --arrowSize: calc(var(--ScrollWidth) * 0.5 );
  --ScrollWidth: 16px;
  // --ArrowHalf: calc(var(--ScrollWidth) * 0.25 + 1px);

  
  --CaptionHeight: 18px;
  --CaptionFont-Height: 11px;
  --CaptionFont-Weight: 700;
  --CaptionFont-Italic: normal;
  --CaptionFont-Underline: 0; // underline | wavy underline | none
  --CaptionFont-StrikeOut: 0; // line-through | none
  // --CaptionFont-CharSet: 0;
  // --CaptionFont-OutPrecision: 0;
  // --CaptionFont-ClipPrecision: 0;
  // --CaptionFont-Quality: 0;
  // --CaptionFont-PitchAndFamily: 0;
  --CaptionFont-Name: 'Arial';

  --SmCaptionHeight: 15px;
  --SmCaptionFont-Height: 8px;
  // --SmCaptionFont-Width: 0;
  // --SmCaptionFont-Escapement: 0;
  // --SmCaptionFont-Orientation: 0;
  --SmCaptionFont-Weight: var(--CaptionFont-Weight);
  --SmCaptionFont-Italic: var(--CaptionFont-Italic);
  --SmCaptionFont-Underline: var(--CaptionFont-Underline);
  --SmCaptionFont-StrikeOut: var(--CaptionFont-StrikeOut);
  // --SmCaptionFont-CharSet: 0;
  // --SmCaptionFont-OutPrecision: 0;
  // --SmCaptionFont-ClipPrecision: 0;
  // --SmCaptionFont-Quality: 0;
  // --SmCaptionFont-PitchAndFamily: 0;
  --SmCaptionFont-Name: var(--CaptionFont-Name);
}

.variant-large {
  --ScrollWidth: 18px;
  // --ArrowHalf: calc(var(--ScrollWidth) * 0.25 + 1px);

  --CaptionHeight: 22px;
  --CaptionFont-Height: 16px;
  --CaptionFont-Weight: 700;

  // --SmCaptionWidth: 21px,
  --SmCaptionHeight: 18px;
  --SmCaptionFont-Height: 13px;
}

.variant-extra-large {
  --ScrollWidth: 21px;
  // --ArrowHalf: calc(var(--ScrollWidth) * 0.25 + 1px);

  
  --CaptionHeight: 24px;
  --CaptionFont-Height: 19px;
  --CaptionFont-Weight: 700;
  // --CaptionFont-Italic: normal;
}

body {
  background-color: var(--ButtonFace);
  color: var(--ButtonText);
}

.title-bar-sys {
  display: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button::-moz-focus-inner {
  border: none;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
}

a:focus {
  outline: 1px dotted var(--ButtonDkShadow);
}

code {
  font-family: monospace;
}


