@use '../../util/util' as *;
@use 'drawing' as *;

.scrollbar {
  display: flex;

  & > button {
    display: flex;
    flex-shrink: 0;
    width: var(--ScrollWidth);
    height: var(--ScrollWidth);
    min-width: 0;
    padding: 0;
    background-repeat: no-repeat;

    // &::after {
    //   content: '';
    //   display: block;
    //   width: 7px;
    //   height: 7px;
    //   margin: 3px 0 0 3px;
    //   background-repeat: no-repeat;
    // }

    &:focus {
      outline: none;
      border: 1px solid var(--ButtonDkShadow);
      border-top: 1px solid var(--light);
      border-left: 1px solid var(--light);
      box-shadow: inset -1px -1px 0 var(--ButtonShadow), inset 1px 1px 0 var(--ButtonHilight);
    }

    &:not(:disabled):active {
      padding: 0;
      border: 1px solid var(--ButtonShadow);
      box-shadow: none;
      outline: none;

      // &::after {
      //   margin: 4px 0 0 4px;
      // }
    }
  }

  & > .scrollbar-track {
    flex-grow: 1;
    background-color: var(--ButtonFace);
    background-image: linear-gradient(45deg, var(--ButtonHilight) 25%, transparent 25%), linear-gradient(-45deg, var(--ButtonHilight) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--ButtonHilight) 75%), linear-gradient(-45deg, transparent 75%, var(--ButtonHilight) 75%);
    background-size: 2px 2px;
    background-position: 0 0, 0 1px, 1px -1px, -1px 0px;
    position: relative;

    & > .scrollbar-thumb {
      position: absolute;
      background: var(--ButtonFace);
      border: 1px solid var(--ButtonDkShadow);
      border-top: 1px solid var(--light);
      border-left: 1px solid var(--light);
      box-shadow: inset -1px -1px 0 var(--ButtonShadow), inset 1px 1px 0 var(--ButtonHilight);
    }
  }
}

.horizontal.scrollbar {
  // & > button:first-child::after {
    // background-image: url(arrow-left.svg);
    // background-position: 1px 0;
  // }

  // & > button:last-child::after {
    // background-image: url(arrow-right.svg);
    // background-position: 2px 0;
  // }

  & > .scrollbar-track > .scrollbar-thumb {
    top: 0;
    bottom: 0;
  }
}

.vertical.scrollbar {
  flex-direction: column;
  width: var(--ScrollWidth);

  // & > button:first-child::after {
    // background-image: url(arrow-up.svg);
  //   background-position: 0 2px;
  // }

  // & > button:last-child::after {
    // background-image: url(arrow-down.svg);
    // background-position: 0 2px;
  // }

  & > .scrollbar-track > .scrollbar-thumb {
    left: 0;
    right: 0;
  }
}

::-webkit-scrollbar {
  background-color: var(--ButtonFace);
  background-image: linear-gradient(45deg, var(--ButtonHilight) 25%, transparent 25%), linear-gradient(-45deg, var(--ButtonHilight) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--ButtonHilight) 75%), linear-gradient(-45deg, transparent 75%, var(--ButtonHilight) 75%);
  background-size: 2px 2px;
  background-position: 0 0, 0 1px, 1px -1px, -1px 0px;
  width: var(--ScrollWidth);
  height: var(--ScrollWidth);
}

::-webkit-scrollbar-corner {
  background: var(--ButtonFace);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
  background-color: var(--ButtonFace);
  color: var(--ButtonText);
  border: 1px solid var(--ButtonDkShadow);
  border-top: 1px solid var(--light);
  border-left: 1px solid var(--light);
  box-shadow: inset -1px -1px 0 var(--ButtonShadow), inset 1px 1px 0 var(--ButtonHilight);
}

.scrollbar button,
::-webkit-scrollbar-button {
  width: var(--ScrollWidth);
  height: var(--ScrollWidth);
  


  &:active{
    --ox: 1px;
    --oy: 1px;
  }
}

::-webkit-scrollbar-button{
  display: none;
  
  &:single-button {
    display: block;
  }
}
:disabled::-webkit-scrollbar-button:single-button {
  color: var(--ButtonShadow);
  // color: red;
}


::-webkit-scrollbar-button:active {
  border: 1px solid var(--ButtonShadow);
  box-shadow: none;
}

.vertical.scrollbar > button:first-child,
::-webkit-scrollbar-button:vertical:decrement {
  // background-image: url(arrow-up.svg);
  // background-position: 3px 5px;
  // background-repeat: no-repeat;
  // --ox : 3px;
  // --oy: 1px;
  // background: arrow-up(var(--ox), var(--oy)), var(--ButtonFace);
  background: 
    conic-gradient(
      at 0 calc(80% - 1px + var(--oy)) ,
      transparent 90deg,
      var(--ButtonFace) 90deg,
    ) center
    / var(--ArrowSize) var(--ArrowSize) no-repeat,

    conic-gradient(
      from 135deg at calc(50% + var(--ox)) calc(20% + var(--oy)),
      var(--ButtonText) 0 25%,
      transparent 0 100%
    )
    center / var(--ArrowSize) var(--ArrowSize) no-repeat,

    var(--ButtonFace)
    // linear-gradient( yellow)
    // center
    // / var(--ArrowSize) var(--ArrowSize) no-repeat,
    // var(--ButtonFace)
    ;

  // &:active {
  //   // background-position: 4px 6px;
  //   --ox : 4px;
  //   --oy: 2px;
  // }
}

.vertical.scrollbar > button:last-child,
::-webkit-scrollbar-button:vertical:increment {
  // background-image: url(arrow-down.svg);
  // background-position: 3px 5px;
  // background-repeat: no-repeat;
  // --ox : 3px;
  // --oy: 5px;
  // background: arrow-down(var(--ox), var(--oy)), var(--ButtonFace);
  background:
    conic-gradient(
      at 0 calc(20% + 1px + var(--oy)) ,
      var(--ButtonFace) 90deg,
      transparent 90deg,
    ) center
    / var(--ArrowSize) var(--ArrowSize) no-repeat,
    
    conic-gradient(
      from 45deg at calc(50% + var(--ox)) calc(80% + var(--oy)),
      transparent 0 75%,
      var(--ButtonText) 0 25%,
    ) center
    / var(--ArrowSize) var(--ArrowSize) no-repeat,

    var(--ButtonFace)
    // linear-gradient( lime,lime)
    // right 10% center
    // / var(--ArrowSize) var(--ArrowSize) no-repeat,
    // var(--ButtonFace)
    ;

  // &:active {
  //   // background-position: 4px 6px;
  //   --ox : 4px;
  //   --oy: 6px;
  // }
}

.horizontal.scrollbar > button:first-child,
::-webkit-scrollbar-button:horizontal:decrement {
  // background-image: url(arrow-left.svg);
  // background-position: 4px 3px;
  // background-repeat: no-repeat;

  // &:active {
  //   background-position: 5px 4px;
  // }
  // --ox : 4px;
  // --oy: 4px;
  // background: arrow-left(var(--ox), var(--oy)), var(--ButtonFace);
  background: conic-gradient(
      at calc(80% - 1px + var(--ox)) 100% ,
      var(--ButtonFace) 180deg,
      transparent 180deg
    )
    center
    / var(--ArrowSize) var(--ArrowSize) no-repeat,

    conic-gradient(
      from 45deg at calc(20% + var(--ox)) calc(50% + var(--oy)),
      var(--ButtonText) 0 25%,
      transparent 0 100%
    )
    center / var(--ArrowSize) var(--ArrowSize) no-repeat,

    var(--ButtonFace)
    // linear-gradient( yellow)
    // center
    // / var(--ArrowSize) var(--ArrowSize) no-repeat,
    // var(--ButtonFace)
    ;

  // &:active {
  //   // background-position: 4px 6px;
  //   --ox : 5px;
  //   --oy: 5px;
  // }
}

.horizontal.scrollbar > button:last-child,
::-webkit-scrollbar-button:horizontal:increment {
  // background-image: url(arrow-right.svg);
  // background-position: 5px 3px;
  // background-repeat: no-repeat;

  // &:active {
  //   background-position: 6px 4px;
  // }
  // --ox : 5px;
  // --oy: 4px;
  // background: arrow-right(var(--ox), var(--oy)), var(--ButtonFace);
  background:
    conic-gradient(
      at calc(20% + 1px + var(--ox)) 100% ,
      transparent 180deg,
      var(--ButtonFace) 180deg
    ) center
    / var(--ArrowSize) var(--ArrowSize) no-repeat,
    
    conic-gradient(
      from -135deg at calc(80% + var(--ox)) calc(50% + var(--oy)),
      var(--ButtonText) 0 25%,
      transparent 0 100%
    ) center
    / var(--ArrowSize) var(--ArrowSize) no-repeat,

    var(--ButtonFace)
    /* linear-gradient( lime,lime)
    right 10% center
    / var(--ArrowSize) var(--ArrowSize) no-repeat,
    var(--ButtonFace) */;

  // &:active {
  //   // background-position: 4px 6px;
  //   --ox : 3px;
  //   --oy: 5px;
  // }

}
