:root {
  --Background: #000000;

  --AppWorkspace: #C0C0C0;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #808080;
  --ActiveBorder: #808080;

  --MenuBar: #C0C0C0;
  --MenuText: #000000;

  --InactiveTitle: #808080;
  --InactiveTitleText: #000000;

  --ActiveTitle: #400080;
  --TitleText: #FFFFFF;

  --Hilight: #000000;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFFFF;

  --scrollbar-bg: #E0E0E0;
}
