:root {
  --Background: #800040;

  --AppWorkspace: #C0C0C0;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #C0C0C0;
  --ActiveBorder: #8000F8;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #C0C0C0;
  --InactiveTitleText: #000000;

  --ActiveTitle: #800080;
  --TitleText: #FFFFFF;

  --Hilight: #800080;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFF7F;
}
