:root {
  --Background: #804040;

  --AppWorkspace: #C0C0C0;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #C0C0C0;
  --ActiveBorder: #800000;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #C0C0C0;
  --InactiveTitleText: #000000;

  --ActiveTitle: #800000;
  --TitleText: #FFFFFF;

  --Hilight: #800000;
  --HilightText: #FFFFFF;
  --selection-inverse: #7FFFFF;
}
