:root {
  --Background: #004040;

  --AppWorkspace: #C0C0C0;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #008040;
  --ActiveBorder: #008040;

  --MenuBar: #C0C0C0;
  --MenuText: #000000;

  --InactiveTitle: #408080;
  --InactiveTitleText: #000000;

  --ActiveTitle: #008040;
  --TitleText: #FFFFFF;

  --Hilight: #008000;
  --HilightText: #FFFFFF;
  --selection-inverse: #FF7FFF;
}
