:root {
  --Background: #000000;

  --AppWorkspace: #800000;

  --Window: #800000;
  --WindowText: #FFFFFF;

  --InactiveBorder: #000080;
  --ActiveBorder: #808000;

  --MenuBar: #808000;
  --MenuText: #000000;

  --InactiveTitle: #000080;
  --InactiveTitleText: #808080;

  --ActiveTitle: #808000;
  --TitleText: #000000;

  --Hilight: #000080;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFF7F;

  --disabled: #C0C0C0;

  --scrollbar-bg: #C0C000;
}
