:root {
  --Background: #808080;

  --AppWorkspace: #C0C0C0;

  --Window: #C0C0C0;
  --WindowText: #000000;

  --InactiveBorder: #C0C0C0;
  --ActiveBorder: #000080;

  --MenuBar: #C0C0C0;
  --MenuText: #000000;

  --InactiveTitle: #C0C0C0;
  --InactiveTitleText: #000000;

  --ActiveTitle: #000080;
  --TitleText: #FFFFFF;

  --Hilight: #000080;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFF7F;
}
