:root {
  --Background: #C0C0C0;

  --AppWorkspace: #C0C0C0;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #C0C0C0;
  --ActiveBorder: #C0C0C0;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #C0C0C0;
  --InactiveTitleText: #000000;

  --ActiveTitle: #000000;
  --TitleText: #FFFFFF;

  --Hilight: #000000;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFFFF;

  --scrollbar-bg: #808080;
}
