:root {
  --Background: #000000;

  --AppWorkspace: #0000F8;

  --Window: #000000;
  --WindowText: #FFFFFF;

  --InactiveBorder: #FFFFFF;
  --ActiveBorder: #800000;

  --MenuBar: #F800F8;
  --MenuText: #000000;

  --InactiveTitle: #C0C0C0;
  --InactiveTitleText: #000000;

  --ActiveTitle: #000080;
  --TitleText: #000000;

  --Hilight: #FFFFFF;
  --HilightText: #000000;
  --selection-inverse: #000000;

  --border: #C0C0C0;

  --scrollbar-bg: #0000FF;
}
