:root {
  --Background: #986068;

  --AppWorkspace: #C0C0C0;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #C0C0C0;
  --ActiveBorder: #804040;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #C0C0C0;
  --InactiveTitleText: #000000;

  --ActiveTitle: #808040;
  --TitleText: #FFFFFF;

  --Hilight: #808000;
  --HilightText: #000000;
  --selection-inverse: #7F7FFF;

  --scrollbar-bg: #E0E0E0;
}
