:root {
  --Background: #808040;

  --AppWorkspace: #C0C0C0;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #FFFFFF;
  --ActiveBorder: #804000;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #FFFFFF;
  --InactiveTitleText: #000000;

  --ActiveTitle: #808080;
  --TitleText: #FFFFFF;

  --Hilight: #808080;
  --HilightText: #FFFFFF;
  --selection-inverse: #7F7F7F;

  --scrollbar-bg: #808080;
}
