// https://guidebookgallery.org/screenshots/win31
.window > .window-body{

    button{
        // padding: 10px !important;
        // background-color: var(--ButtonFace);
        // border: 1px solid black;
        // border-image-source: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9"><path fill="%23ccc" d="M1,1H7V7H1Z"/><path fill="%23fff" d="M0,0V8H1V1H8V0H0Z"/><path fill="%23888" d="M7,1V7H1V8H8V1H7Z"/><path fill="%23000" d="M8,0V8H0v1h9V8V0H8Z"/></svg>');
        // border-image-source: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229px%22%20height%3D%229px%22%20viewBox%3D%220%200%209%209%22%3E%3Cpath%20fill%3D%22%23ccc%22%20d%3D%22M1,1H7V7H1Z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0,0V8H1V1H8V0H0Z%22%2F%3E%3Cpath%20fill%3D%22%23888%22%20d%3D%22M7,1V7H1V8H8V1H7Z%22%2F%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M8,0V8H0v1h9V8V0H8Z%22%2F%3E%3C%2Fsvg%3E");
        // border-image-slice: 3;
        // border-image-width: 1;
        // border-image-outset: 0;
    }
}
    
.window, .dialog {
    background: var(--ButtonFace);
    $borderWidth: 1px;
    border: $borderWidth solid var(--InactiveBorder);
    // border-color: #4464ac;
    border-top-width:1px;
    // background: var(--InactiveBorder);
    // border-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%0A%09%09%09%0A%09%09%3Cpath%20d%3D%22M0%200h256v256h-256v-256z%22%20fill%3D%22rgb(64%2C%2064%2C%2064)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M32%2032h160v32h-128v128h-32v-160z%22%20fill%3D%22rgb(250%2C%20224%2C%20228)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M64%2064h96v32h-64v64h-32v-96z%22%20fill%3D%22rgb(247%2C%20219%2C%20215)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M160%2064h32v128h-128v-32h96v-96z%22%20fill%3D%22rgb(222%2C%2069%2C%2096)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M96%2096h64v64h-64v-64z%22%20fill%3D%22rgb(244%2C%20193%2C%20202)%22%2F%3E%0A%09%09%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22256%22%20height%3D%22256%22%20stroke-width%3D%2264%22%20stroke%3D%22rgb(0%2C%200%2C%200)%22%20fill%3D%22none%22%2F%3E%0A%09%0A%09%09%3C%2Fsvg%3E") 96 / 3px;
    // border: 30px solid;
    // border-image: url(https://interactive-examples.mdn.mozilla.net/media/examples/border-diamonds.png) 30 round;
    // border-image-source: url("./img/window.svg");
    // border-image-repeat: stretch;
    // border-image-width: 22px;
    // border-image-slice: 22;
    border-radius: 8px; 
    image-rendering: pixelated;

    // > * {
    //     border: 1px solid var(--WindowFrame);
    //     &:not(:first-child){
    //         border-top: none;
    //     }
    // }
    &:not(.maximized) > :last-child   {
        // margin: 0 $borderWidth * -1;
        // margin: 0;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
}
.menubar {
    min-height: 18px;
    // margin: 0 -2px;
    background: var(--MenuBar);
}

.title-bar {
    position: relative;
    // margin: 0 $borderWidth * -1;
    margin: 0;
    // border-bottom: 1px solid var(--WindowFrame);
    color: var(--InactiveTitleText);
    text-align: center;
    background-color: var(--InactiveTitle);
    // background-color: $ActiveTitle;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    // border: 1px solid black;
    // border-bottom: 0;
    // border-top: 0;

    .maximized > & {
        border-radius: 0;
        // border-bottom-left-radius: inherit;
        // border-bottom-right-radius: inherit;
    }

    // > * {
        // min-height: 21px;
    // }

    --theme_light_normal: rgb(
        from var(--ButtonFace)
        calc(r * 1.3)
        calc(g * 1.3)
        calc(b * 1.3)
    );
    --theme_dark_normal: rgb(
        from var(--ButtonFace)
        calc(r * 0.7)
        calc(g * 0.7)
        calc(b * 0.7)
    );
    --theme_light_selected: rgb(
        from var(--ActiveTitle)
        calc(r * 1.3)
        calc(g * 1.3)
        calc(b * 1.3)
    );
    --theme_dark_selected: rgb(
        from var(--ActiveTitle)
        calc(r * 0.7)
        calc(g * 0.7)
        calc(b * 0.7)
    );
    /* --theme_light_selected: rgb(
        from var(--ActiveTitle)
        calc(r * 1.475)
        calc(g * 1.35)
        calc(b * 1.2345)
    ); */

    --headerbar_active_top: color-mix(
        in srgb,
        var(--theme_light_normal) 25%,
        var(--theme_light_selected)
    );
    --headerbar_active_bottom: color-mix(
        in srgb-linear,
        var(--ActiveTitle) 90%,
        white
    );
    --headerbar_active_outer_bottom: color-mix(
        in srgb,
        var(--theme_dark_normal) 50%,
        var(--ActiveTitle)
    );    
    --headerbar_active_outer_side: color-mix(
        in srgb,
        var(--ActiveTitle) 60%,
        black
    );

    --headerbar_active_1: color-mix(
        in srgb,
        var(--theme_light_normal) 20%,
        var(--ActiveTitle) 80%
    );
    --headerbar_active_2: color-mix(
        in srgb,
        var(--theme_light_normal) 5%,
        var(--ActiveTitle) 95%
    );
    --headerbar_active_3: color-mix(
        in srgb,
        var(--theme_light_normal) 0%,
        var(--ActiveTitle) 100%
    );

    --headerbar_active_button: rgb(from var(--theme_dark_selected) r g b / 0.75);
    --headerbar_active_button_border: color-mix(
        in srgb,
        var(--theme_dark_normal) 70%,
        var(--ActiveTitle) 
    );
    
    .title-bar-text {
        position: relative;
        box-sizing: border-box;
        z-index: 1;
        // min-height: 20px;
        line-height: 20px;
        vertical-align: middle;
        font-weight: bold;
        text-align: center;
        // border: 1px solid  color-mix(in srgb, black 50%, var(--InactoveActiveTitle) 90%, );
        border-left: none;
        border-right: none;
        // box-shadow: inset 1px 1px red;
    }
    button {
        box-sizing: border-box;
        height: 17px;
        width: 18px;
        // min-width: auto;
        // background: #ff00ff40;
        border: 1px solid #bdbdbd;
        // border: 1px solid mix($ActiveTitle, $dark-normal, 30%);
        border-radius: 4px;
        // margin: 0 -1px -1px 1px;
        // box-shadow: inset 1px 1px white, inset -1px -1px color-mix(in srgb, var(--ActiveTitle) 15%, var(--ButtonFace));
        // position: relative;
        // background-size: 9px 9px;
        background-color: var(--ButtonFace);
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;

        // &::after{
        //     // position: absolute;
        //     // inset: 0;
        //     vertical-align: middle;
        //     // font-size: xx-small;
        //     margin: 0 auto;
        //     width: 9px;
        //     height: 9px;
        // }
        // --adjust: 0px;
        --btn_color: var(--InactiveTitleText);
        --ix: 0px;
        --iy: 0px;

        &:not(:disabled,.disabled){
            &:active, &.active {
            
            // background-position: center;
            // background-size: 9px 9px;
            // background-image: url(img/close-active.png);
            --ix: 1px;
            --iy: 0px;
            }
        }
        
        &[data-close]{
            // display: none;
            // background-image: url(img/close.png);
            background:
                linear-gradient(var(--btn_color), var(--btn_color)) calc(6px + var(--ix)) calc(4px + var(--iy)) / 1px 1px no-repeat,
                linear-gradient(var(--btn_color), var(--btn_color)) calc(10px + var(--ix)) calc(4px + var(--iy)) / 1px 1px no-repeat,
                linear-gradient(var(--btn_color), var(--btn_color)) calc(5px + var(--ix)) calc(5px + var(--iy)) / 3px 1px no-repeat, 
                linear-gradient(var(--btn_color), var(--btn_color)) calc(9px + var(--ix)) calc(5px + var(--iy)) / 3px 1px no-repeat, 
                linear-gradient(var(--btn_color), var(--btn_color)) calc(6px + var(--ix)) calc(6px + var(--iy)) / 5px 1px no-repeat, 
                linear-gradient(var(--btn_color), var(--btn_color)) calc(7px + var(--ix)) calc(7px + var(--iy)) / 3px 1px no-repeat,
                linear-gradient(var(--btn_color), var(--btn_color)) calc(6px + var(--ix)) calc(8px + var(--iy)) / 5px 1px no-repeat, 
                linear-gradient(var(--btn_color), var(--btn_color)) calc(5px + var(--ix)) calc(9px + var(--iy)) / 3px 1px no-repeat, 
                linear-gradient(var(--btn_color), var(--btn_color)) calc(9px + var(--ix)) calc(9px + var(--iy)) / 3px 1px no-repeat,
                linear-gradient(var(--btn_color), var(--btn_color)) calc(6px + var(--ix)) calc(10px +	var(--iy)) / 1px 1px no-repeat,
                linear-gradient(var(--btn_color), var(--btn_color)) calc(10px +	var(--ix)) calc(10px +	var(--iy)) / 1px 1px no-repeat,
                // url(img/close.png) center no-repeat,
                var(--ButtonFace);
        }
        &[data-minimize]{
            // background-image: url(img/minimize.png);
            background:
		        linear-gradient(var(--btn_color), var(--btn_color)) calc(5px + var(--ix)) calc(8px + var(--iy)) / 7px 3px no-repeat, /* Icon */
                // url(img/minimize.png) center no-repeat,
                var(--ButtonFace);
        }
        &[data-maximize]{
            // background-image: url(img/maximize.png);
            background:
                linear-gradient(var(--btn_color), var(--btn_color)) calc(5px + var(--ix)) calc(4px + var(--iy)) / 7px 3px no-repeat, /* Icon */
                linear-gradient(var(--btn_color), var(--btn_color)) calc(5px + var(--ix)) calc(7px + var(--iy)) / 1px 3px no-repeat,
                linear-gradient(var(--btn_color), var(--btn_color)) calc(11px + var(--ix)) calc(7px + var(--iy)) / 1px 3px no-repeat,
                linear-gradient(var(--btn_color), var(--btn_color)) calc(5px + var(--ix)) calc(10px + var(--iy)) / 7px 1px no-repeat,
                // url(img/maximize.png) center no-repeat,
                var(--ButtonFace);

            .maximized > & {
                // background-image: url(img/restore.png);
                background:
                    linear-gradient(var(--btn_color), var(--btn_color)) calc(5px + var(--ix)) calc(5px + var(--iy)) / 6px 3px no-repeat, /* Icon */
                    linear-gradient(var(--btn_color), var(--btn_color)) calc(5px + var(--ix)) calc(8px + var(--iy)) / 1px 2px no-repeat,
                    linear-gradient(var(--btn_color), var(--btn_color)) calc(10px + var(--ix)) calc(8px + var(--iy)) / 1px 2px no-repeat,
                    linear-gradient(var(--btn_color), var(--btn_color)) calc(5px + var(--ix)) calc(10px + var(--iy)) / 6px 1px no-repeat,

                    linear-gradient(var(--btn_color), var(--btn_color)) calc(7px + var(--ix)) calc(3px + var(--iy)) / 6px 1px no-repeat,
                    linear-gradient(var(--btn_color), var(--btn_color)) calc(12px + var(--ix)) calc(4px + var(--iy)) / 1px 5px no-repeat,
                    // url(img/restore.png) center no-repeat,
                    var(--ButtonFace);
            }                
        }
    }

    .title-bar-buttons, .title-bar-sys{
        display: flex;
        align-items: center;
        padding: 0 3px;
        gap: 2px;
        flex-shrink: 1;

        button {
            
        }
    }
    .title-bar-buttons{
        &.sys{
            border-top-left-radius: inherit;

            button {
                background-image: url(img/menu.png);
                // background-repeat: no-repeat;
                // background-position: center;
            }
        }
        &:not(.sys){  
            border-top-right-radius: inherit;
        }

    }

    &:not(:has(.title-bar-buttons.sys)) .title-bar-text{
        border-top-left-radius: inherit;
    }
    &:not(:has(.title-bar-buttons:not(.sys))) .title-bar-text{
        border-top-right-radius: inherit;
    }
}

.window-body{
    margin: 0 2px 2px;
    background: var(--ButtonFace);
}

.window.active{
    border-color: var(--ActiveBorder);
}
.active > .title-bar, 
:focus-within > .title-bar, 
.title-bar.active {
    color: var(--TitleText);
    background-color: var(--ActiveTitle);
    // position: relative;

    /* background-image0: linear-gradient(
        to bottom, // Gradien vertikal
        color-mix(in srgb, var(--ActiveTitle) 80%, var(--light-normal)), // blend/0.8
        color-mix(in srgb, var(--ActiveTitle) 95%, var(--light-normal)), // blend/0.95
        color-mix(in srgb, var(--ActiveTitle) 100%, var(--light-normal)), // blend/1.0
        color-mix(in srgb, var(--ActiveTitle) 95%, var(--light-normal)), // blend/0.95
        color-mix(in srgb, var(--ActiveTitle) 80%, var(--light-normal)) // blend/0.8
    ); */

    // background0:
        /* linear-gradient(
                    to right,
                    color-mix(in srgb, var(--ActiveTitle) 10%, transparent),
                    color-mix(in srgb, var(--ActiveTitle) 60%, transparent),
                    color-mix(in srgb, var(--ActiveTitle) 100%, transparent),
                    color-mix(in srgb, var(--ActiveTitle) 60%, transparent),
                    color-mix(in srgb, var(--ActiveTitle) 10%, transparent),
                ) top 1px center repeat-x, */

        // // * trick to remove the first and last row of the stripes 
        // linear-gradient(to bottom,
        //     var(--headerbar_active_top) 0,
        //     var(--headerbar_active_top) 1px,
        //     var(--headerbar_active_1) 1px,
        //     var(--headerbar_active_1) 2px,
        //     transparent 2px,
        //     transparent calc(100% - 2px),
        //     var(--headerbar_active_1) calc(100% - 2px),
        //     var(--headerbar_active_1) calc(100% - 1px),
        //     var(--ActiveBorder) calc(100% - 1px),
        //     var(--ActiveBorder)
        // ),

		// url("img/csd_stripes.png") repeat,
		// linear-gradient(to bottom,
        //     var(--headerbar_active_1),
        //     var(--headerbar_active_2) 25%,
        //     var(--headerbar_active_3) 50%,
        //     var(--headerbar_active_2) 75%,
        //     var(--headerbar_active_1)),
		// var(--ActiveTitle);

    &::before, &::after{
        // content: '';
        position: absolute;
        // z-index: 0;
    }
    &::before{
        // content: '';
        // inset: 1px 21px 1px;
        inset: 2px 0px 2px;
        background-image: // alpha="0.9:0.4:0.0:0.4:0.9"
            linear-gradient(
                to right,
                color-mix(in srgb, var(--ActiveTitle) 10%, transparent),
                color-mix(in srgb, var(--ActiveTitle) 60%, transparent),
                color-mix(in srgb, var(--ActiveTitle) 100%, transparent),
                color-mix(in srgb, var(--ActiveTitle) 60%, transparent),
                color-mix(in srgb, var(--ActiveTitle) 10%, transparent),
            )
            // ,
            // url(img/white_stripes_tile.png);
        // opacity: 0.8;
    }
    &::after{
        inset: 3px 2px 0;
        // background-image: url(img/title-blocker-bottom.png);
        background-repeat: repeat-x;
        background-position: bottom;
    }

    .title-bar-text {
        // opacity: 0;
        // position: relative;
        // text-shadow: 1px 1px #444, 
        //     8px 1px 10px var(--ActiveTitle, red), 
        //    -8px 1px 10px var(--ActiveTitle, red), 
        //    -8px -1px 10px var(--ActiveTitle, red), 
        //     8px -1px 10px var(--ActiveTitle, red), 
        //     12px 1px 25px var(--ActiveTitle, red), 
        //    -12px 1px 25px var(--ActiveTitle, red), 
        //    -12px -1px 25px var(--ActiveTitle, red), 
        //     12px -1px 25px var(--ActiveTitle, red), 
        //     ;
        text-shadow: 1px 1px #444;
        // border: 1px solid color-mix(in srgb, var(--ActiveTitle) 60%, black);
        // border-top: 1px solid  color-mix(in srgb, white 50%, var(--ActiveTitle) / 42%);
        // border-bottom: 1px solid  color-mix(in srgb, black 50%, var(--ActiveTitle) 90%, );
        // border-left: none;
        // border-right: none;
        font-size: smaller;

        // background: url(img/title-blocker-left.png) repeat-y;
        // background-image0: linear-gradient(
        //     to right, // Gradien horizontal
        //     color-mix(
        //         in srgb,
        //         color-mix(
        //             in srgb,
        //             var(--ActiveTitle) 50%,
        //             var(--light-normal)
        //         ) 20%,
        //         transparent
        //     ),

        //     color-mix(
        //         in srgb,
        //         color-mix(
        //             in srgb,
        //             var(--ActiveTitle) 0%,
        //             var(--light-normal)
        //         ) 0%,
        //         transparent
        //     )
        // );
        // background-size: 18px auto;
        // background-repeat: no-repeat;
        background:
            // url(img/title-blocker-bottom.png) bottom repeat-x,
            // url(img/title-blocker-bottom.png) bottom repeat-x,
            // url(img/title-gradient-bottom.png) bottom repeat-x,
             // * trick to remove the first and last row of the stripes 
            linear-gradient(to bottom,
                var(--headerbar_active_top) 0,
                var(--headerbar_active_top) 1px,
                var(--headerbar_active_1) 1px,
                var(--headerbar_active_1) 2px,
                transparent 2px,
                transparent calc(100% - 2px),
                var(--headerbar_active_1) calc(100% - 2px),
                var(--headerbar_active_1) calc(100% - 1px),
                var(--ActiveBorder) calc(100% - 1px),
                var(--ActiveBorder)
            ),
            // url(img/title-blocker-bottom.png) bottom repeat-x,

            linear-gradient(
                    to right,
                    color-mix(in srgb, var(--ActiveTitle) 10%, transparent),
                    color-mix(in srgb, var(--ActiveTitle) 60%, transparent),
                    color-mix(in srgb, var(--ActiveTitle) 100%, transparent),
                    color-mix(in srgb, var(--ActiveTitle) 60%, transparent),
                    color-mix(in srgb, var(--ActiveTitle) 10%, transparent),
                ) top 2px center / calc(100% - 4px) calc(100% - 2px) repeat-x,

            url("img/csd_stripes.png") repeat
            ;
        background:
            linear-gradient(to bottom,
                var(--headerbar_active_1),
                var(--headerbar_active_2) 25%,
                var(--headerbar_active_3) 50%,
                var(--headerbar_active_2) 75%,
                var(--headerbar_active_1)),
            var(--ActiveTitle);
                /*,
        linear-gradient(to bottom,
            var(--headerbar_active_top) 0,
            var(--headerbar_active_top) 1px,
            var(--headerbar_active_1) 1px,
            var(--headerbar_active_1) 2px,
            transparent 2px,
            transparent calc(100% - 2px),
            var(--headerbar_active_1) calc(100% - 2px),
            var(--headerbar_active_1) calc(100% - 1px),
            var(--ActiveBorder) calc(100% - 1px),
            var(--ActiveBorder)
        ),
		url("img/csd_stripes.png") repeat,
		linear-gradient(to bottom,
            var(--headerbar_active_1),
            var(--headerbar_active_2) 25%,
            var(--headerbar_active_3) 50%,
            var(--headerbar_active_2) 75%,
            var(--headerbar_active_1)),
		var(--ActiveTitle)
        ;
        */
        

        // &::after{
        //     content: '';
        //     position: absolute;
        //     inset: 1px;
        //     bottom: 0;
        //     background-image: url(img/title-gradient-bottom.png);
        //     background-repeat: repeat-x;
        //     background-position-y: bottom 1px;
        //     opacity: 0.3;
        //     // z-index: 1;
        // }
        &::after{
            content: '';
            position: absolute;
            inset: 0;
            background: 
                // * trick to remove the first and last row of the stripes 
                linear-gradient(to bottom,
                    var(--headerbar_active_top) 0,
                    var(--headerbar_active_top) 1px,
                    var(--headerbar_active_1) 1px,
                    var(--headerbar_active_1) 2px,
                    transparent 2px,
                    transparent calc(100% - 2px),
                    var(--headerbar_active_1) calc(100% - 2px),
                    var(--headerbar_active_1) calc(100% - 1px),
                    var(--ActiveBorder) calc(100% - 1px),
                    var(--ActiveBorder)
                ),
                linear-gradient(to bottom,
                    /* rgb(from var(--ActiveTitle) calc(calc(227 / 255) * r) ,calc(calc(227 / 255) * g), calc(calc(227 / 255) * b)  / calc(9 / 255 * 0.2)),
                    rgb(from var(--ActiveTitle) calc(calc(245 / 255) * r) ,calc(calc(245 / 255) * g), calc(calc(245 / 255) * b)  / calc(26 / 255 * 0.2)),
                    rgb(from var(--ActiveTitle) calc(calc(239 / 255) * r) ,calc(calc(239 / 255) * g), calc(calc(239 / 255) * b)  / calc(48 / 255 * 0.2)),
                    rgb(from var(--ActiveTitle) calc(calc(240 / 255) * r) ,calc(calc(240 / 255) * g), calc(calc(240 / 255) * b)  / calc(69 / 255 * 0.2)),
                    rgb(from var(--ActiveTitle) calc(calc(238 / 255) * r) ,calc(calc(238 / 255) * g), calc(calc(238 / 255) * b)  / calc(88 / 255 * 0.2)),
                    rgb(from var(--ActiveTitle) calc(calc(238 / 255) * r) ,calc(calc(238 / 255) * g), calc(calc(238 / 255) * b)  / calc(107 / 255 * 0.2)),
                    rgb(from var(--ActiveTitle) calc(calc(239 / 255) * r) ,calc(calc(239 / 255) * g), calc(calc(239 / 255) * b)  / calc(125 / 255 * 0.2)),
                    rgb(from var(--ActiveTitle) calc(calc(240 / 255) * r) ,calc(calc(240 / 255) * g), calc(calc(240 / 255) * b)  / calc(138 / 255 * 0.2)),
                    rgb(from var(--ActiveTitle) calc(calc(183 / 255) * r) ,calc(calc(183 / 255) * g), calc(calc(183 / 255) * b)  / calc(74 / 255 * 0.2)), */

                    /* rgb(from var(--ActiveTitle) calc(r * 2 * 0.8) calc(g * 2 * 0.8) calc(b * 2 * 0.8)  / calc(9 / 255)),
                    rgb(from var(--ActiveTitle) calc(r * 2 * 0.8) calc(g * 2 * 0.8) calc(b * 2 * 0.8)  / calc(26 / 255)),
                    rgb(from var(--ActiveTitle) calc(r * 2 * 0.8) calc(g * 2 * 0.8) calc(b * 2 * 0.8)  / calc(48 / 255)),
                    rgb(from var(--ActiveTitle) calc(r * 2 * 0.8) calc(g * 2 * 0.8) calc(b * 2 * 0.8)  / calc(69 / 255)),
                    rgb(from var(--ActiveTitle) calc(r * 2 * 0.8) calc(g * 2 * 0.8) calc(b * 2 * 0.8)  / calc(88 / 255)),
                    rgb(from var(--ActiveTitle) calc(r * 2 * 0.8) calc(g * 2 * 0.8) calc(b * 2 * 0.8)  / calc(107 / 255)),
                    rgb(from var(--ActiveTitle) calc(r * 2 * 0.8) calc(g * 2 * 0.8) calc(b * 2 * 0.8)  / calc(125 / 255)),
                    rgb(from var(--ActiveTitle) calc(r * 2 * 0.8) calc(g * 2 * 0.8) calc(b * 2 * 0.8)  / calc(138 / 255)),
                    rgb(from var(--ActiveTitle) calc(r * 2 * 0.8) calc(g * 2 * 0.8) calc(b * 2 * 0.8)  / calc(74 / 255)), */

                    rgba(227,227,227, calc(9 / 255 * 0.3)),
                    rgba(245,245,245, calc(26 / 255 * 0.3)),
                    rgba(239,239,239, calc(48 / 255 * 0.3)),
                    rgba(240,240,240, calc(69 / 255 * 0.3)),
                    rgba(238,238,238, calc(88 / 255 * 0.3)),
                    rgba(238,238,238, calc(107 / 255 * 0.3)),
                    rgba(239,239,239, calc(125 / 255 * 0.3)),
                    rgba(240,240,240, calc(138 / 255 * 0.3)),
                    rgba(183,183,183, calc(74 / 255 * 0.3)),
                ) bottom left 0px / 19px 50% repeat-x;
            // background-repeat: repeat-x;
            // background-position-y: bottom 1px;
            // opacity: 0.3;
            // z-index: 1;
        }
        // &::before{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     width: 18px;

        //     background-image: linear-gradient(
        //         to left, // Gradien horizontal
        //         color-mix(in srgb, var(--ActiveTitle) 50%, transparent 20%),
        //         transparent
        //     );
        //     background-size: 18px auto;
        //     background-repeat: no-repeat;
        // }
        &::before{
            content: '';
            position: absolute;
            // inset: 1px 21px 1px;
            inset: 2px 0px;
            // alpha="0.9:0.4:0.0:0.4:0.9"
            background: 
                // url('img/white_stripes_tile.png'),
                linear-gradient(to right,
                    rgb(from silver calc(r * 0.8)    calc(g * 0.8)   calc(b * 0.8)),
                    rgb(from silver calc(r * 0.95)   calc(g * 0.95)  calc(b * 0.95)),
                    rgb(from silver calc(r * 1.0)    calc(g * 1.0)   calc(b * 1.0)),
                    rgb(from silver calc(r * 0.95)   calc(g * 0.95)  calc(b * 0.95)),
                    rgb(from silver calc(r * 0.8)    calc(g * 0.8)   calc(b * 0.8))
                ),
                // linear-gradient(to right,
                //     rgb(from white r g b / 0.8),
                //     rgb(from white r g b / 0.95),
                //     rgb(from white r g b / 1.0),
                //     rgb(from white r g b / 0.95),
                //     rgb(from white r g b / 0.8)
                // ),
                url('img/white_stripes_tile.png'),
                ;
                // linear-gradient(
                //     to right,
                //     color-mix(in srgb, var(--ActiveTitle) 10%, transparent),
                //     color-mix(in srgb, var(--ActiveTitle) 60%, transparent),
                //     color-mix(in srgb, var(--ActiveTitle) 100%, transparent),
                //     color-mix(in srgb, var(--ActiveTitle) 60%, transparent),
                //     color-mix(in srgb, var(--ActiveTitle) 10%, transparent),
                // )
                // ,
                // url(img/white_stripes_tile.png);
            // background-blend-mode: screen;
            mask-image: linear-gradient(
                to right,
                rgba(0,0,0,0.9),
                rgba(0,0,0,0.4),
                rgba(0,0,0,0.0),
                rgba(0,0,0,0.4),
                rgba(0,0,0,0.9)
            );    
            // opacity: 0.8;

             /* Gradient alpha channel via luminance */
             background-color: transparent;
            background: 
                url('img/white_stripes_tile.png'),
                // linear-gradient(
                //     to right,
                //     black,
                //     black 22%,
                //     white 27%,
                //     white 47%,
                //     rgba(255,255,255,0) 52%,
                //     rgba(255,255,255,0) 72%,
                //     rgba(0,0,0,0) 77%,
                // ),
                // // url('img/white_stripes_tile.png')

                // transparent
                ;
        // -webkit-background-clip: text, border-box;
          background-clip:  border-box;
            // background-repeat: repeat, no-repeat;
            // background-blend-mode: luminosity;  /* Atau use luminosity untuk alpha effect */
            // background-size: auto, 100% 100%;
            // mix-blend-mode: color;
            // background-blend-mode: color;
            // mix-blend-mode: lighten;
        }

//         &::before {
//     content: '';
//     position: absolute;
//     inset: 1px 0px;
//     background: url('img/white_stripes_tile.png');
//     background-repeat: repeat;
//     pointer-events: none;
// }

// &::after {
//     content: '';
//     position: absolute;
//     inset: 1px 0px;
//     background: linear-gradient(
//         to right,
//         rgba(0, 0, 0, 0.0) 0%,    /* kiri: transparan, stripes terlihat */
//         rgba(0, 0, 0, 1.0) 30%,   /* mulai menutup */
//         rgba(0, 0, 0, 1.0) 70%,   /* tengah: hitam pekat, stripes tertutup */
//         rgba(0, 0, 0, 0.0) 100%   /* kanan: transparan, stripes terlihat */
//     );
//     mix-blend-mode: multiply;  /* hitam menutupi stripes */
//     pointer-events: none;
// }
        

    }

    // .title-bar-buttons.sys,
    .title-bar-buttons{
        background-color: #c0c4d5;
        background:
            linear-gradient(to bottom,
                color-mix(
                    in srgb,
                    var(--ActiveTitle) 25%,
                    var(--ButtonFace) 75%,
                /* ) 85%,
                color-mix(
                    in srgb,
                    var(--theme_light_selected) 25%,
                    var(--theme_light_normal) */
                )  calc(100% - 1px),
                var(--headerbar_active_outer_bottom) calc(100% - 1px)
            );
        // border-bottom: 1px solid #7283a7;
        // z-index: 2;

        button {
            border-color: #888ea1;
            border-color: var(--headerbar_active_button);
            border-color: var(--headerbar_active_button_border);
            --btn_color: var(--headerbar_active_button);
            // border-color: var(--theme_dark_selected);
            box-shadow: inset 1px 1px white, inset -1px -1px color-mix(in srgb, var(--ActiveTitle) 15%, var(--ButtonFace));
        }
        &:not(.sys){
            // border-left: 1px solid #7283a7;
             border-left: 1px solid var(--headerbar_active_outer_side);
        }
        &.sys{
            // border-right: 1px solid #7283a7;
             border-right: 1px solid var(--headerbar_active_outer_side);
        }
    }
}

    
