:root {
  --Background: #420000;

  --ButtonFace: #C2BFA5;
  --ButtonText: #000000;

  --ButtonHilight: #E1E0D2;
  
  --light: var(--ButtonFace);
  --medium: var(--ButtonFace);
  --ButtonShadow: #8D8961;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #8D8961;
  --InactiveTitleText: #E1E0D2;

  --ActiveTitle: #800000;
  --TitleText: #E1E0D2;

  --Hilight: #8D8961;
  --HilightText: #FFFFFF;
  --selection-inverse: #72769E;
}
