:root {
  --Background: #A28D68;

  --ButtonFace: #D5CCBB;
  --ButtonText: #000000;

  --ButtonHilight: #EAE6DD;
  
  --light: var(--ButtonFace);
  --medium: var(--ButtonFace);
  --ButtonShadow: #A28D68;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #A28D68;
  --InactiveTitleText: #FFFFFF;

  --ActiveTitle: #008080;
  --TitleText: #FFFFFF;

  --Hilight: #008080;
  --HilightText: #FFFFFF;
  --selection-inverse: #FF7F7F;
}
