:root {
  --Background: #400040;

  --ButtonFace: #90B0A8;
  --ButtonText: #000000;

  --ButtonHilight: #C8D8D8;
  
  --ButtonLight: var(--ButtonFace);
  
  --ButtonShadow: #588078;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #90B0A8;
  --InactiveTitleText: #588078;

  --ActiveTitle: #588078;
  --TitleText: #FFFFFF;

  --Hilight: #387470;
  --HilightText: #FFFFFF;
  --selection-inverse: #C78B8F;
}
