:root {
  --Background: #000000;

  --ButtonFace: #AEA8D9;
  --ButtonText: #000000;

  --ButtonHilight: #D8D5EC;
  
  --ButtonLight: var(--ButtonFace);
  
  --ButtonShadow: #5A4EB1;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #808080;
  --InactiveTitleText: #FFFFFF;

  --ActiveTitle: #5A4EB1;
  --TitleText: #FFFFFF;

  --Hilight: #7830D0;
  --HilightText: #FFFFFF;
  --selection-inverse: #87CF2F;
}
