:root {
  --Background: #2C4E47;

  --ButtonFace: #88C0B8;
  --ButtonText: #000000;

  --ButtonHilight: #C4DFDB;
  
  --light: var(--ButtonFace);
  --medium: var(--ButtonFace);
  --ButtonShadow: #4B8D84;
  
  --ButtonDkShadow: #000000;

  --Window: #C8E0D8;
  --WindowText: #000000;

  --InactiveTitle: #4B8D84;
  --InactiveTitleText: #D0CCD0;

  --ActiveTitle: #000080;
  --TitleText: #FFFFFF;

  --Hilight: #006CC8;
  --HilightText: #FFFFFF;
  --selection-inverse: #FF9337;
}
