@import 'plum.css';

:root {
  --preferred-font: 'Tahoma';

  --GradientInactiveTitle: #A89878;
  --InactiveTitleText: #A89890;
  --GradientActiveTitle: #A084B8;

  --Hilight: #008080;
  --selection-inverse: #FF7F7F;
}
