@import 'pumpkin.css';

:root {
  --preferred-font: 'Tahoma';

  --InactiveTitle: linear-gradient(to right, #A0A0A3, #D0CC90);
  --ActiveTitle: linear-gradient(to right, #D7A52F, #E0CC88);

  --Hilight: #800080;
  --selection-inverse: #7FFF7F;
}
