:root {
  --Background: #000000;

  --ButtonFace: #8098B0;
  --ButtonText: #000000;

  --ButtonHilight: #C0CCD8;
  
  --light: var(--ButtonFace);
  --medium: var(--ButtonFace);
  --ButtonShadow: #4E657C;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #808080;
  --InactiveTitleText: #C1CCD9;

  --ActiveTitle: #4F647E;
  --TitleText: #FFFFFF;

  --Hilight: #506478;
  --HilightText: #FFFFFF;
  --selection-inverse: #AF9B87;
}
