:root {
  --Background: #000042;

  --ButtonFace: #C0C0C0;
  --ButtonText: #000000;

  --ButtonHilight: #FFFFFF;
  
  --ButtonLight: var(--ButtonFace);
  
  --ButtonShadow: #808080;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #808080;
  --InactiveTitleText: #C0C0C0;

  --ActiveTitle: #800000;
  --TitleText: #FFFFFF;

  --Hilight: #800000;
  --HilightText: #FFFFFF;
  --selection-inverse: #7FFFFF;
}
