@import 'red-white-and-blue.css';

:root {
  --preferred-font: 'Tahoma';

  --InactiveTitle: linear-gradient(to right, #808080, #BABEC9);
  --ActiveTitle: linear-gradient(to right, #800000, #0010A8);
}
