:root {
  --Background: #808080;

  --ButtonFace: #CFAFB7;
  --ButtonText: #000000;

  --ButtonHilight: #E7D8DC;
  
  --ButtonLight: var(--ButtonFace);
  
  --ButtonShadow: #9F6070;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #A0A0A4;
  --InactiveTitleText: #606068;

  --ActiveTitle: #9F6070;
  --TitleText: #FFFFFF;

  --Hilight: #9F6070;
  --HilightText: #FFFFFF;
  --selection-inverse: #609F8F;
}
