:root {
  --Background: #414141;

  --ButtonFace: #9DB9C8;
  --ButtonText: #000000;

  --ButtonHilight: #CEDCE3;
  
  --light: var(--ButtonFace);
  --medium: var(--ButtonFace);
  --ButtonShadow: #558097;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #808080;
  --InactiveTitleText: #C0C0C0;

  --ActiveTitle: #558097;
  --TitleText: #FFFFFF;

  --Hilight: #558097;
  --HilightText: #FFFFFF;
  --selection-inverse: #AA7F68;
}
