@import 'spruce.css';

:root {
  --preferred-font: 'Tahoma';

  --InactiveTitle: linear-gradient(to right, #808080, #A8CCB0);
  --ActiveTitle: linear-gradient(to right, #599764, #98C8E8);

  --Hilight: #599764;
  --selection-inverse: #A6689B;
}
