:root {
  --Background: #213F21;

  --ButtonFace: #A2C8A9;
  --ButtonText: #000000;

  --ButtonHilight: #D0E3D3;
  
  --ButtonLight: var(--ButtonFace);
  
  --ButtonShadow: #599764;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #808080;
  --InactiveTitleText: #D0E3D3;

  --ActiveTitle: #599764;
  --TitleText: #FFFFFF;

  --Hilight: #A0A848;
  --HilightText: #FFFFFF;
  --selection-inverse: #5F57B7;
}
