:root {
  --Background: #004040;

  --ButtonFace: #C0C0C0;
  --ButtonText: #000000;

  --ButtonHilight: #FFFFFF;
  
  --light: var(--ButtonFace);
  --medium: var(--ButtonFace);
  --ButtonShadow: #808080;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #808080;
  --InactiveTitleText: #FFFBF0;

  --ActiveTitle: #008080;
  --TitleText: #FFFFFF;

  --Hilight: #008080;
  --HilightText: #FFFFFF;
  --selection-inverse: #FF7F7F;
}
