:root {
  --Background: #00401D;

  --ButtonFace: #E0E0A0;
  --ButtonText: #000000;

  --ButtonHilight: #F0F0D0;
  
  --light: var(--ButtonFace);
  --medium: var(--ButtonFace);
  --ButtonShadow: #C0C03F;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #BDBD40;
  --InactiveTitleText: #E8E6D5;

  --ActiveTitle: #808000;
  --TitleText: #FFFFFF;

  --Hilight: #808000;
  --HilightText: #FFFFFF;
  --selection-inverse: #7F7FFF;
}
