body {
  font-family: system-ui;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.use-preferred-font {
  font-family: var(--preferred-font), system-ui;
  font-size: 12px;
}

#toolbar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  overflow-y: auto;
}

#preferred-font {
}

#preferred-font::after {
  content: '(' var(--preferred-font) ')';
  display: inline;
}

main {
  max-width: 1024px;
}

main > .window-body {
  overflow: auto;
}

.example {
  margin: var(--margin) 0;
  padding-left: 16px;
}
.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  > details {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}

details {
  margin-top: 4px;
}

.example > details > summary {
  display: inline-block;
  cursor: normal;
  user-select: none;
  margin-bottom: 4px;
  background: transparent;
  border:none ;
  box-shadow: none ;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  padding-left: 0 ;
  opacity: 0.5;
  cursor: pointer ;

  &:hover{
    text-decoration: underline;
    opacity: 1;
  }

}


@media screen and (min-width: 750px) {
  section {
    display: flex;
    flex-direction: row;
  }

  section > *:first-child {
    flex: 0 0 200px;
  }

  section > div {
    flex-grow: 1;
  }
}

a {
  color: #00c;
  text-decoration: underline;
}

.question{
    /* width:40vmin; */
    aspect-ratio:1;
    background:


        /* titik bawah */
        radial-gradient(
            ellipse 14% 12% at 50% 88%,
            #ddd 99%,
            transparent 100%
        ),

        /* batang */
        linear-gradient(#ddd 0 0)
        50% 62% / 16% 24% no-repeat,

        /* badan utama */
        radial-gradient(
            ellipse 34% 28% at 52% 26%,
            transparent 0 55%,
            #ddd 56% 82%,
            transparent 83%
        ),

        /* potong kiri */
        linear-gradient(#000 0 0)
        0 0 / 40% 52% no-repeat,

        /* lubang dalam */
        radial-gradient(
            ellipse 15% 13% at 50% 26%,
            #000 98%,
            transparent 100%
        ),

        /* lekukan bawah */
        radial-gradient(
            ellipse 20% 18% at 58% 48%,
            #000 99%,
            transparent 100%
        );

    background-color:#000;
    width: 13px;
    height: 11px;
    background-color: orange;
}

.marlet{
  font-family: Marlett;
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.marlet li {
  background-color: silver;
  border: 1px solid #333;
  padding: 1px 2px;
  list-style: none;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  line-height: 1;
  font-size: 9;
}