:root {
  --Background: #C0C0C0;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --ButttonFace: #C0C0C0;
  --button-fg: #000000;
  --button-dark: #808080;
  --button-light: #FFFFFF;

  --border: #000000;
  --disabled: #808080;

  --InactiveBorder: #C0C0C0;

  --InactiveTitle: #FFFFFF;
  --InactiveTitleText: #000000;

  --ActiveTitle: #0000C0;
  --TitleText: #FFFFFF;

  --Hilight: #0000C0;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFF3F;
}
