:root {
  --Background: #004080;

  --AppWorkspace: #FFFFFF;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #C0C0C0;
  --ActiveBorder: #F88040;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #C0C0C0;
  --InactiveTitleText: #000000;

  --ActiveTitle: #408080;
  --TitleText: #FFFFFF;

  --Hilight: #008080;
  --HilightText: #FFFFFF;
  --selection-inverse: #FF7F7F;
}
