:root {
  --Background: #387C78;

  --AppWorkspace: #C0C0C0;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #C0C0C0;
  --ActiveBorder: #C0C0C0;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #C0C0C0;
  --InactiveTitleText: #000000;

  --ActiveTitle: #008080;
  --TitleText: #FFFFFF;

  --Hilight: #008080;
  --HilightText: #000000;
  --selection-inverse: #FF7F7F;
}
