:root {
  --Background: #000000;

  --AppWorkspace: #FFFFFF;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #C0C0C0;
  --ActiveBorder: #00FC00;

  --MenuBar: #00FC00;
  --MenuText: #000000;

  --InactiveTitle: #C0C0C0;
  --InactiveTitleText: #000000;

  --ActiveTitle: #F800F8;
  --TitleText: #000000;

  --Hilight: #000000;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFFFF;
}
