:root {
  --Background: #A0A0A0;

  --AppWorkspace: #FFFBF0;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #C0C0C0;
  --ActiveBorder: #C0C0C0;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #FFFFFF;
  --InactiveTitleText: #000000;

  --ActiveTitle: #A0C8F0;
  --TitleText: #000000;

  --Hilight: #A0C8F0;
  --HilightText: #000000;
  --selection-inverse: #5F370F;
}
