:root {
  --Background: #FFFF00;

  --AppWorkspace: #FFFF00;

  --Window: #FF0000;
  --WindowText: #FFFFFF;

  --InactiveBorder: #FF0000;
  --ActiveBorder: #FF0000;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #FF0000;
  --InactiveTitleText: #FFFFFF;

  --ActiveTitle: #000000;
  --TitleText: #FFFFFF;

  --Hilight: #000000;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFFFF;
}
