:root {
  --Background: #80FCC0;

  --AppWorkspace: #F8FC80;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #FFFFFF;
  --ActiveBorder: #F880C0;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #FFFFFF;
  --InactiveTitleText: #000000;

  --ActiveTitle: #80FCF8;
  --TitleText: #000000;

  --Hilight: #00FCF8;
  --HilightText: #000000;
  --selection-inverse: #FF0307;

  --border: #808080;
}
