:root {
  --Background: #C0C0C0;

  --AppWorkspace: #F8FC80;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveBorder: #FFFFFF;
  --ActiveBorder: #800000;

  --MenuBar: #FFFFFF;
  --MenuText: #000000;

  --InactiveTitle: #FFFFFF;
  --InactiveTitleText: #000000;

  --ActiveTitle: #000080;
  --TitleText: #FFFFFF;

  --Hilight: #000080;
  --HilightText: #FFFFFF;
  --selection-inverse: #FFFF7F;
}
