// taken from https://github.com/userexec/win31colors
.windowsdefault {
	// Windows Default
	$desktop: #C0C0C0;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #A4C8F0;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #000000;
	$inactivetitlebartext: #000000;
	$activeborder: #C0C0C0;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #A4C8F0;
	$highlightedtext: #000000;
}
.arizona {
	// Arizona
	$desktop: #004080;
	$applicationworkspace: #FFFFFF;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #408080;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #FF8040;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #808080;
	$highlight: #408080;
	$highlightedtext: #FFFFFF;
}
.blackleatherjacket {
	// Black Leather Jacket
	$desktop: #000000;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #C0C0C0;
	$menutext: #000000;
	$activetitlebar: #400080;
	$inactivetitlebar: #808080;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #808080;
	$inactiveborder: #808080;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #808080;
	$highlight: #000000;
	$highlightedtext: #FFFFFF;
}
.bordeaux {
	// Bordeaux
	$desktop: #800040;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #800080;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: "rgb(128,0,255)";
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #808080;
	$highlight: #800080;
	$highlightedtext: #FFFFFF;
}
.cinnamon {
	// Cinnamon
	$desktop: #804040;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #800000;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #800000;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #808080;
	$highlight: #800000;
	$highlightedtext: #FFFFFF;
}
.designer {
	// Designer
	$desktop: #3F7C7C;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #008080;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #C0C0C0;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #008080;
	$highlightedtext: #000000;
}
.emeraldcity {
	// Emerald City
	$desktop: #004040;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #C0C0C0;
	$menutext: #000000;
	$activetitlebar: #008040;
	$inactivetitlebar: #408080;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #008040;
	$inactiveborder: #408080;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #808080;
	$highlight: #008040;
	$highlightedtext: #FFFFFF;
}
.fluorescent {
	// Fluorescent
	$desktop: #000000;
	$applicationworkspace: #FFFFFF;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #00FF00;
	$menutext: #000000;
	$activetitlebar: #FF00FF;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #000000;
	$inactivetitlebartext: #000000;
	$activeborder: #00FF00;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #808080;
	$highlight: #000000;
	$highlightedtext: #FFFFFF;
}
.hotdogstand {
	// Hotdog Stand
	$desktop: #FFFF00;
	$applicationworkspace: #FFFF00;
	$windowbackground: #FF0000;
	$windowtext: #FFFFFF;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #000000;
	$inactivetitlebar: #FF0000;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #FFFFFF;
	$activeborder: #FF0000;
	$inactiveborder: #FF0000;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #808080;
	$highlight: #000000;
	$highlightedtext: #FFFFFF;
}
.lcddefault {
	// LCD Default Screen Settings
	$desktop: #808080;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #C0C0C0;
	$windowtext: #000000;
	$menubar: #C0C0C0;
	$menutext: #000000;
	$activetitlebar: #000080;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #000080;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #80807F;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #808080;
	$highlight: #000080;
	$highlightedtext: #FFFFFF;
}
.lcdreversedark {
	// LCD Reversed - Dark
	$desktop: #000000;
	$applicationworkspace: #800000;
	$windowbackground: #800000;
	$windowtext: #FFFFFF;
	$menubar: #808000;
	$menutext: #000000;
	$activetitlebar: #808000;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000080;
	$activeborder: #808000;
	$inactiveborder: #000080;
	$windowframe: #000000;
	$scrollbars: #808000;
	$buttonface: #C0C0C0;
	$buttonshadow: #80807F;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #000080;
	$highlightedtext: #FFFFFF;
}
.lcdreverselight {
	// LCD Reversed - Light
	$desktop: #000080;
	$applicationworkspace: #FFFFFF;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #408080;
	$inactivetitlebar: #FFFFFF;
	$activetitlebartext: #000000;
	$inactivetitlebartext: #000000;
	$activeborder: #C0C0C0;
	$inactiveborder: #C0C0C0;
	$windowframe: #000080;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #408080;
	$highlight: #000080;
	$highlightedtext: #FFFFFF;
}
.mahogany {
	// Mahogany
	$desktop: #404040;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #400000;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #C0C0C0;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #800000;
	$highlightedtext: #FFFFFF;
}
.monochrome {
	// Monochrome
	$desktop: #C0C0C0;
	$applicationworkspace: #FFFFFF;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #000000;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #C0C0C0;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #808080;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #000000;
	$highlightedtext: #FFFFFF;
}
.ocean {
	// Ocean
	$desktop: #008080;
	$applicationworkspace: #008040;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #004080;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #C0C0C0;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #008080;
	$highlightedtext: #FFFFFF;
}
.pastel {
	// Pastel
	$desktop: #82FF5C;
	$applicationworkspace: #FFFF80;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #80FFFF;
	$inactivetitlebar: #FFFFFF;
	$activetitlebartext: #000000;
	$inactivetitlebartext: #000000;
	$activeborder: #FF80C0;
	$inactiveborder: #FFFFFF;
	$windowframe: #808080;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #80FFFF;
	$highlightedtext: #FFFFFF;
}
.patchwork {
	// Patchwork
	$desktop: #BB4495;
	$applicationworkspace: #FAFBC1;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #00FFFF;
	$inactivetitlebar: #FFFFFF;
	$activetitlebartext: #000000;
	$inactivetitlebartext: #000000;
	$activeborder: #4EB164;
	$inactiveborder: #FFFFFF;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #808080;
	$highlight: #00FFFF;
	$highlightedtext: #FFFFFF;
}
.plasma {
	// Plasma Power Saver
	$desktop: #000000;
	$applicationworkspace: #0000FF;
	$windowbackground: #000000;
	$windowtext: #FFFFFF;
	$menubar: #FF00FF;
	$menutext: #000000;
	$activetitlebar: #000080;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #000000;
	$inactivetitlebartext: #000000;
	$activeborder: #800000;
	$inactiveborder: #FFFFFF;
	$windowframe: #C0C0C0;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #FFFFFF;
	$highlightedtext: #000000;
}
.rugby {
	// Rugby
	$desktop: #C0C0C0;
	$applicationworkspace: #FFFF80;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #000080;
	$inactivetitlebar: #FFFFFF;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #800000;
	$inactiveborder: #FFFFFF;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #000080;
	$highlightedtext: #FFFFFF;
}
.theblues {
	// The Blues
	$desktop: #004080;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #000080;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #C0C0C0;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #000080;
	$highlightedtext: #FFFFFF;
}
.tweed {
	// Tweed
	$desktop: #9E616A;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #808040;
	$inactivetitlebar: #C0C0C0;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #804040;
	$inactiveborder: #C0C0C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #808040;
	$highlightedtext: #000000;
}
.valentine {
	// Valentine
	$desktop: #FF80C0;
	$applicationworkspace: #FFFFFF;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #FF0080;
	$inactivetitlebar: #800040;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #FFFFFF;
	$activeborder: #FF80C0;
	$inactiveborder: #FF80C0;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #FF00FF;
	$highlightedtext: #FFFFFF;
}
.wingtips {
	// Wingtips
	$desktop: #808040;
	$applicationworkspace: #C0C0C0;
	$windowbackground: #FFFFFF;
	$windowtext: #000000;
	$menubar: #FFFFFF;
	$menutext: #000000;
	$activetitlebar: #808080;
	$inactivetitlebar: #FFFFFF;
	$activetitlebartext: #FFFFFF;
	$inactivetitlebartext: #000000;
	$activeborder: #804000;
	$inactiveborder: #FFFFFF;
	$windowframe: #000000;
	$scrollbars: #C0C0C0;
	$buttonface: #C0C0C0;
	$buttonshadow: #808080;
	$buttontext: #000000;
	$buttonhighlight: #FFFFFF;
	$disabledtext: #C0C0C0;
	$highlight: #808080;
	$highlightedtext: #FFFFFF;
}