:root {
  --Background: #000000;

  --ButtonFace: #E0CC98;
  --ButtonText: #000000;

  --ButtonHilight: #F0E8D0;
  
  --ButtonLight: var(--ButtonFace);
  
  --ButtonShadow: #C09C38;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #A0A0A4;
  --InactiveTitleText: #F0ECD8;

  --ActiveTitle: #800000;
  --TitleText: #FFFFFF;

  --Hilight: #C8A848;
  --HilightText: #000000;
  --selection-inverse: #3757B7;
}
