@import 'marine.css';

:root {
  --preferred-font: 'Tahoma';

  --GradientInactiveTitle: #78CCD8;
  --InactiveTitleText: #C0C0C0;
  --GradientActiveTitle: #18B4C0;

  --Hilight: #000080;
  --selection-inverse: #00007F;
}
