:root {
  --Background: #402840;

  --ButtonFace: #A89890;
  --ButtonText: #000000;

  --ButtonHilight: #D8D0C8;
  
  --ButtonLight: var(--ButtonFace);
  
  --ButtonShadow: #786058;
  
  --ButtonDkShadow: #000000;

  --Window: #D8D0C8;
  --WindowText: #000000;

  --InactiveTitle: #786058;
  --InactiveTitleText: #D0C8C0;

  --ActiveTitle: #484060;
  --TitleText: #F8F0F8;

  --Hilight: #284848;
  --HilightText: #D8D0C8;
  --selection-inverse: #D7B7B7;
}
