:root {
  --Background: #420042;

  --ButtonFace: #F0D4A0;
  --ButtonText: #000000;

  --ButtonHilight: #F8EACF;
  
  --ButtonLight: var(--ButtonFace);
  
  --ButtonShadow: #DE9F2C;
  
  --ButtonDkShadow: #000000;

  --Window: #FFFFFF;
  --WindowText: #000000;

  --InactiveTitle: #A0A0A4;
  --InactiveTitleText: #F5EACF;

  --ActiveTitle: #DAA22D;
  --TitleText: #FFFFFF;

  --Hilight: #B88850;
  --HilightText: #FFFFFF;
  --selection-inverse: #4777AF;
}
